<div>
  <mat-tab-group
    mat-align-tabs="center"
    style="width: 90%; min-height: 600px"
    [selectedIndex]="selectedIndex"
  >
    <mat-tab label="Shipping arrival">
      <app-liste></app-liste>
    </mat-tab>
    <mat-tab label="Ship departure">
      <app-liste_depart></app-liste_depart>
    </mat-tab>
    <mat-tab label="Ship docking"> Ship docking </mat-tab>
    <mat-tab label="Cargo manifest"> Cargo manifest </mat-tab>
  </mat-tab-group>
</div>
