<div style="display: flex; padding-top: 2%">
  <div>
    <input
      type="text"
      (keyup)="applyFilter($event.target.value)"
      class="form-control"
      placeholder="No"
      autofocus
    />
  </div>
  <div style="padding-left: 3%">
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Select ETA"
        required
        (dateInput)="changedateEta($event.value)"
        style="color: #1d3a66"
      />
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon style="font-size: 35px" matDatepickerToggleIcon
          >arrow_drop_down</mat-icon
        >
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div style="padding-left: 3%">
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker1"
        placeholder="Select ETD"
        required
        (dateInput)="changedateEtd($event.value)"
        style="color: #1d3a66"
      />
      <mat-datepicker-toggle matSuffix [for]="picker1">
        <mat-icon style="font-size: 35px" matDatepickerToggleIcon
          >arrow_drop_down</mat-icon
        >
      </mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-lg-4" style="padding-top: 1%" *ngFor="let ship of CellList">
    <mat-card
      class="card2"
      [ngStyle]="{
        'background-color':
          ship.id === id_document ? '#47b2e4' : 'rgb(255, 255, 255)'
      }"
    >
      <mat-card-content>
        <h5
          class="titre_card"
          [ngStyle]="{
            color: ship.id === id_document ? '#fff' : '#073d6e'
          }"
        >
          Vessel Name
        </h5>
      </mat-card-content>
      <mat-card-subtitle>
        <label
          class="subtitle_card"
          [ngStyle]="{
            color: ship.id === id_document ? '#fff' : '#7f8fa4'
          }"
          >No : {{ ship.voyageno }} </label
        ><br />
        <label
          class="subtitle_card2"
          [ngStyle]="{
            color: ship.id === id_document ? '#fff' : '#354052'
          }"
          >Port : {{ ship.portofcallcode }} </label
        ><br />
        <label
          class="subtitle_card2"
          [ngStyle]="{
            color: ship.id === id_document ? '#fff' : '#354052'
          }"
          >Previous Port : {{ ship.previousportcode }}
        </label>
        <br />
        <div style="display: flex; padding-left: 1%">
          <div>
            <label
              class="subtitle_card"
              [ngStyle]="{
                color: ship.id === id_document ? '#fff' : '#7f8fa4'
              }"
            >
              ETA :
            </label>

            <label
              class="subtitle_card2"
              [ngStyle]="{
                color: ship.id === id_document ? '#fff' : '#354052'
              }"
              style="padding-left: 1%"
            >
              {{ ship.eta }}
            </label>
          </div>

          <div style="padding-left: 2%">
            <label
              class="subtitle_card"
              [ngStyle]="{
                color: ship.id === id_document ? '#fff' : '#7f8fa4'
              }"
            >
              ETD :
            </label>

            <label
              class="subtitle_card2"
              [ngStyle]="{
                color: ship.id === id_document ? '#fff' : '#354052'
              }"
              style="padding-left: 1%"
            >
              {{ ship.etd }}
            </label>
          </div>
        </div>
      </mat-card-subtitle>

      <mat-card-actions class="action_card">
        <button
          mat-button
          (click)="show_document(ship)"
          class="btn btn-light shadow-lg"
          style="font-size: 14px"
          class="button_delete"
        >
          <label
            class="document"
            [ngStyle]="{
              color: ship.id === id_document ? '#fff' : 'rgba(71, 178, 228, 1)'
            }"
          >
            Show document
          </label>

          <mat-icon
            [ngStyle]="{
              color: ship.id === id_document ? '#fff' : 'rgba(71, 178, 228, 1)'
            }"
            >chevron_right</mat-icon
          >
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
