.imageside {
  width: 50px;
  height: 100px;
}

::ng-deep.mat-tab-group {
  background-color: #fff;
  height: 100%;
}
::ng-deep .mat-tab-label {
  font-size: 18px;
  font-weight: bold;

  letter-spacing: normal;

  color: #bbc5d5;
}

::ng-deep .mat-s-horizontal-line {
  border-top-width: 3px;

  background-color: #fff;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #47de72;

  visibility: visible;
}

.mat-sidenav-container {
  min-height: 650px;
}

.card2 {
  color: #1d3a66;
  width: 100%;
  height: 260px;
  background-color: rgb(255, 255, 255);
  border-radius: 27px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.titre_card {
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.67px;
  text-align: left;
  color: #073d6e;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #073d6e;
  font-weight: 700;
}

.row {
  width: 95%;
}
.subtitle_card {
  color: #7f8fa4;
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  padding-top: 3%;
}

.subtitle_card2 {
  padding-top: 3%;
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #354052;
}
.document {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: #1671b3;
}

.form-control {
  width: 155px;
  border-radius: 15px;
  min-height: 48px;
  border: solid 1px #47b2e4;
}

::ng-deep .ng-select .ng-select-container {
  border-radius: 15px;
  min-height: 48px;
  border: solid 1px #47b2e4;
}

::ng-deep ng-select {
  width: 130px;
  height: 65px;
}

mat-datepicker-toggle {
  color: rgba(71, 178, 228, 1) !important;
}

.welcome {
  font-family: Poppins;
  font-size: 26px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: left;
  color: #073d6e;
}

.description {
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #7f8fa4;
}

.document1 {
  font-family: Poppins;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.85;
  letter-spacing: normal;
  text-align: left;
  color: #073d6e;
}

.labeldetail {
  padding-top: 3%;

  text-align: center;
}
.lab1 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #073866;
}

.lab2 {
  height: 100%;
  font-size: 100%;
  border-radius: 12px;
  width: 170px;
  color: rgb(7, 61, 110);
  background-color: #e8effc;
}

.titre {
  padding-top: 7%;
  font-family: Poppins;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.85;
  letter-spacing: normal;
  text-align: left;
  color: #073d6e;
}

.nextbtn {
  text-align: center;
  vertical-align: bottom;
  padding-top: 4%;
  padding-bottom: 1%;
}

.button1 {
  border-radius: 35px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #55ec7a;
  width: 150px;
  height: 50px;
}
.button6 {
  border-radius: 35px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #55ec7a;
  width: 180px;
  height: 50px;
}

.button5 {
  border-radius: 35px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #707070;
  width: 150px;
  height: 50px;
}

.next1 {
  width: 64px;
  height: 39px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.next {
  width: 64px;
  height: 39px;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.action_card {
  padding-left: 15%;
  position: absolute;
  bottom: 20px;
  border-color: 1px black;
}

@media only screen and (max-width: 1600px) and (min-width: 991px) {
  .lab1 {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #073866;
  }

  .lab2 {
    height: 100%;
    border-radius: 12px;
    width: 130px;
    color: rgb(7, 61, 110);
    background-color: #e8effc;
  }

  .titre {
    padding-top: 10%;
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.85;
    letter-spacing: normal;
    text-align: left;
    color: #073d6e;
  }

  .button1 {
    border-radius: 35px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #55ec7a;
    width: 130px;
    height: 54px;
  }

  .button5 {
    border-radius: 35px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #707070;
    width: 130px;
    height: 54px;
  }
  .next {
    width: 64px;
    height: 39px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }

  .document {
    cursor: pointer;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: center;
    color: #1671b3;
  }

  .action_card {
    padding-left: 5%;
    position: absolute;
    bottom: 20px;
    border-color: 1px black;
  }
}

.example-sidenav {
  background-color: rgba(22, 113, 179, 1);
  width: 115px;
  border-color: #ffff;
}

#hg {
  z-index: 0;
  width: 100px;
  height: 120px;
}
#ban {
  position: absolute;
  top: 20%;
  width: 40px;
  z-index: 1;
}
#ban {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 31px;
  z-index: 1;
}
#ban1 {
  position: absolute;
  top: 54%;
  left: 35%;

  z-index: 1;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1671b3;
}

#ban2 {
  position: absolute;
  top: 54%;
  left: 35%;

  z-index: 1;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.button7 {
  border-radius: 35px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #707070;
  width: 180px;
  height: 50px;
}
