<div class="row" style="width: 99%; min-height: 95%">
  <div class="col-lg-8" style="border-right: 0.1px solid rgb(0, 0, 0)">
    <mat-tab-group
      (selectedTabChange)="yourFn($event)"
      style="padding-top: 2%; width: 100%; min-height: 600px"
    >
      <mat-tab label="Shipping arrival">
        <div style="display: flex; padding-top: 2%">
          <div style="padding-left: 2%">
            <input
              type="text"
              (keyup)="applyFilter($event.target.value)"
              class="form-control"
              placeholder="No"
              autofocus
            />
          </div>

          <div style="padding-left: 2%">
            <mat-form-field>
              <mat-label>Choose a status</mat-label>
              <mat-select (selectionChange)="changestatus($event)">
                <mat-option *ngFor="let etat of statuslist" [value]="etat">
                  {{ etat }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div style="padding-left: 2%">
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="Select ETA"
                required
                (dateInput)="changedateEta($event.value)"
                style="color: #1d3a66"
              />
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon style="font-size: 35px" matDatepickerToggleIcon
                  >arrow_drop_down</mat-icon
                >
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

<<<<<<< HEAD
          <!--  <div>
=======
          <div>
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="picker1"
                placeholder="Select ETD"
                required
                (dateInput)="changedateEtd($event.value)"
                style="color: #1d3a66"
              />
              <mat-datepicker-toggle matSuffix [for]="picker1">
                <mat-icon style="font-size: 35px" matDatepickerToggleIcon
                  >arrow_drop_down</mat-icon
                >
              </mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
<<<<<<< HEAD
          </div> -->
=======
          </div>
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
        </div>

        <div class="row">
          <div
            class="col-lg-4"
            style="padding-top: 1%"
            *ngFor="let ship of CellList"
          >
            <mat-card
              class="card2"
              [ngStyle]="{
                'background-color':
                  ship.id === id_document ? '#47b2e4' : 'rgb(255, 255, 255)'
              }"
            >
              <mat-card-content>
                <h5
                  class="titre_card"
                  [ngStyle]="{
                    color: ship.id === id_document ? '#fff' : '#073d6e'
                  }"
                >
                  Vessel Name
                </h5>
              </mat-card-content>
              <mat-card-subtitle>
                <label
                  class="subtitle_card"
                  [ngStyle]="{
                    color: ship.id === id_document ? '#fff' : '#7f8fa4'
                  }"
                  >No : {{ ship.voyageno }} </label
                ><br />
                <label
                  class="subtitle_card2"
                  [ngStyle]="{
                    color: ship.id === id_document ? '#fff' : '#354052'
                  }"
                  >Port : {{ ship.portofcallcode }} </label
                ><br />
                <label
                  class="subtitle_card2"
                  [ngStyle]="{
                    color: ship.id === id_document ? '#fff' : '#354052'
                  }"
                  >Previous Port : {{ ship.previousportcode }}
                </label>
                <br />
                <div style="display: flex; padding-left: 1%">
                  <div>
                    <label
                      class="subtitle_card"
                      [ngStyle]="{
                        color: ship.id === id_document ? '#fff' : '#7f8fa4'
                      }"
                    >
                      ETA :
                    </label>

                    <label
                      class="subtitle_card2"
                      [ngStyle]="{
                        color: ship.id === id_document ? '#fff' : '#354052'
                      }"
                      style="padding-left: 1%"
                    >
                      {{ ship.eta }}
                    </label>
                  </div>

                  <div style="padding-left: 2%">
                    <label
                      class="subtitle_card"
                      [ngStyle]="{
                        color: ship.id === id_document ? '#fff' : '#7f8fa4'
                      }"
                    >
                      ETD :
                    </label>

                    <label
                      class="subtitle_card2"
                      [ngStyle]="{
                        color: ship.id === id_document ? '#fff' : '#354052'
                      }"
                      style="padding-left: 1%"
                    >
                      {{ ship.etd }}
                    </label>
                  </div>
                </div>
              </mat-card-subtitle>

              <mat-card-actions class="action_card">
                <button
                  mat-button
                  (click)="show_document(ship)"
                  class="btn btn-light shadow-lg"
                  style="font-size: 14px"
                  class="button_delete"
                >
                  <label
                    class="document"
                    [ngStyle]="{
                      color:
                        ship.id === id_document
                          ? '#fff'
                          : 'rgba(71, 178, 228, 1)'
                    }"
                  >
                    Show document
                  </label>

                  <mat-icon
                    [ngStyle]="{
                      color:
                        ship.id === id_document
                          ? '#fff'
                          : 'rgba(71, 178, 228, 1)'
                    }"
                    >chevron_right</mat-icon
                  >
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Ship departure">
        <div style="display: flex; padding-top: 2%">
          <div>
            <input
              type="text"
              (keyup)="applyFilter($event.target.value)"
              class="form-control"
              placeholder="No"
              autofocus
            />
          </div>
          <div style="padding-left: 3%">
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="Select ETA"
                required
                (dateInput)="changedateEta($event.value)"
                style="color: #1d3a66"
              />
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon style="font-size: 35px" matDatepickerToggleIcon
                  >arrow_drop_down</mat-icon
                >
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div style="padding-left: 3%">
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="picker1"
                placeholder="Select ETD"
                required
                (dateInput)="changedateEtd($event.value)"
                style="color: #1d3a66"
              />
              <mat-datepicker-toggle matSuffix [for]="picker1">
                <mat-icon style="font-size: 35px" matDatepickerToggleIcon
                  >arrow_drop_down</mat-icon
                >
              </mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-4"
            style="padding-top: 1%"
            *ngFor="let ship of CellList"
          >
            <mat-card
              class="card2"
              [ngStyle]="{
                'background-color':
                  ship.id === id_document ? '#47b2e4' : 'rgb(255, 255, 255)'
              }"
            >
              <mat-card-content>
                <h5
                  class="titre_card"
                  [ngStyle]="{
                    color: ship.id === id_document ? '#fff' : '#073d6e'
                  }"
                >
                  Vessel Name
                </h5>
              </mat-card-content>
              <mat-card-subtitle>
                <label
                  class="subtitle_card"
                  [ngStyle]="{
                    color: ship.id === id_document ? '#fff' : '#7f8fa4'
                  }"
                  >No : {{ ship.voyageno }} </label
                ><br />
                <label
                  class="subtitle_card2"
                  [ngStyle]="{
                    color: ship.id === id_document ? '#fff' : '#354052'
                  }"
                  >Port : {{ ship.portofcallcode }} </label
                ><br />
                <label
                  class="subtitle_card2"
                  [ngStyle]="{
                    color: ship.id === id_document ? '#fff' : '#354052'
                  }"
                  >Previous Port : {{ ship.previousportcode }}
                </label>
                <br />
                <div style="display: flex; padding-left: 1%">
                  <div>
                    <label
                      class="subtitle_card"
                      [ngStyle]="{
                        color: ship.id === id_document ? '#fff' : '#7f8fa4'
                      }"
                    >
                      ETA :
                    </label>

                    <label
                      class="subtitle_card2"
                      [ngStyle]="{
                        color: ship.id === id_document ? '#fff' : '#354052'
                      }"
                      style="padding-left: 1%"
                    >
                      {{ ship.eta }}
                    </label>
                  </div>

                  <div style="padding-left: 2%">
                    <label
                      class="subtitle_card"
                      [ngStyle]="{
                        color: ship.id === id_document ? '#fff' : '#7f8fa4'
                      }"
                    >
                      ETD :
                    </label>

                    <label
                      class="subtitle_card2"
                      [ngStyle]="{
                        color: ship.id === id_document ? '#fff' : '#354052'
                      }"
                      style="padding-left: 1%"
                    >
                      {{ ship.etd }}
                    </label>
                  </div>
                </div>
              </mat-card-subtitle>

              <mat-card-actions class="action_card">
                <button
                  mat-button
                  (click)="show_document(ship)"
                  class="btn btn-light shadow-lg"
                  style="font-size: 14px"
                  class="button_delete"
                >
                  <label
                    class="document"
                    [ngStyle]="{
                      color:
                        ship.id === id_document
                          ? '#fff'
                          : 'rgba(71, 178, 228, 1)'
                    }"
                  >
                    Show document
                  </label>

                  <mat-icon
                    [ngStyle]="{
                      color:
                        ship.id === id_document
                          ? '#fff'
                          : 'rgba(71, 178, 228, 1)'
                    }"
                    >chevron_right</mat-icon
                  >
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Ship docking"> Ship docking </mat-tab>
      <mat-tab label="Cargo manifest"> Cargo manifest </mat-tab>
    </mat-tab-group>
  </div>
  <div class="col-lg-4" style="background-color: #fff">
    <div *ngIf="active">
      <div class="row">
        <div class="col-lg-12" style="width: 100%">
          <div style="float: right">
            <mat-icon
              style="color: #47b2e4; font-size: 33px; cursor: pointer"
              (click)="view_cell(content4)"
              >launch</mat-icon
            >
          </div>
        </div>
        <div class="col-lg-12" style="text-align: center">
          <label class="titre">Vessel call informations </label>
        </div>

        <div class="col-lg-6 labeldetail">
          <div>
            <label class="lab1"> Port of declaration </label>
          </div>
          <div>
            <label class="lab2">{{ portofcallcode }}</label>
          </div>
        </div>

        <div class="col-lg-6 labeldetail">
          <div>
            <label class="lab1"> Voyage No </label>
          </div>
          <div>
            <label class="lab2"> {{ voyageno }}</label>
          </div>
        </div>

        <div class="col-lg-6 labeldetail">
          <div>
            <label class="lab1"> Call Sign Type </label>
          </div>
          <div>
            <label class="lab2"> {{ callsigntype }}</label>
          </div>
        </div>

        <div class="col-lg-6 labeldetail">
          <div>
            <label class="lab1"> Call Sign </label>
          </div>
          <div>
            <label class="lab2">{{ callsign }}</label>
          </div>
        </div>

        <div class="col-lg-6 labeldetail">
          <div>
            <label class="lab1"> Vessel country </label>
          </div>
          <div>
            <label class="lab2">{{ vesselcountry }}</label>
          </div>
        </div>

        <div class="col-lg-6 labeldetail">
          <div>
            <label class="lab1"> Vessel Type </label>
          </div>
          <div>
            <label class="lab2"> {{ vesseltype }}</label>
          </div>
        </div>

        <div class="col-lg-6 labeldetail">
          <div>
            <label class="lab1"> Vessel build year </label>
          </div>
          <div>
            <label class="lab2">{{ vesselbuildyear }}</label>
          </div>
        </div>

        <div class="col-lg-6 labeldetail">
          <div>
            <label class="lab1"> Vessel Reg. Port </label>
          </div>
          <div>
            <label class="lab2">{{ vesselregport }}</label>
          </div>
        </div>

        <div class="col-lg-6 labeldetail">
          <div>
            <label class="lab1"> Vessel Draft </label>
          </div>
          <div>
            <label class="lab2">{{ vesseldraft }}</label>
          </div>
        </div>

        <div class="col-lg-6 labeldetail">
          <div>
            <label class="lab1"> Vessel Gross Weight </label>
          </div>
          <div>
            <label class="lab2">{{ vesselgrossweight }}</label>
          </div>
        </div>

        <div class="col-lg-6 labeldetail">
          <div>
            <label class="lab1"> Vessel Net Weight </label>
          </div>
          <div>
            <label class="lab2">{{ vesselnetweight }}</label>
          </div>
        </div>

        <div class="col-lg-6 labeldetail">
          <div>
            <label class="lab1"> Shipping Agent </label>
          </div>
          <div>
            <label class="lab2">{{ shippingagent }}</label>
          </div>
        </div>
        <div class="col-lg-6 labeldetail">
          <div>
            <label class="lab1"> Preferred Dock </label>
          </div>
          <div>
            <label class="lab2">{{ preferreddock }}</label>
          </div>
        </div>
        <div class="col-lg-6 labeldetail">
          <div>
            <label class="lab1"> Owner code </label>
          </div>
          <div>
            <label class="lab2">{{ ownercode }}</label>
          </div>
        </div>
        <div class="col-lg-6"></div>
        <div style="padding-top: 4%"></div>

        <hr />

        <div class="col-lg-6" style="padding-top: 4%">
          <div class="container text-right nextbtn">
            <button
              type="button"
              class="btn button1"
              [disabled]="etat != 'For confirmation'"
              (click)="accept(content3)"
            >
              <span class="next"> Accept </span>
            </button>
          </div>
        </div>
        <div class="col-lg-6" style="padding-top: 4%">
          <div class="container text-right nextbtn">
            <button
              type="button"
              class="btn button5"
              [disabled]="etat != 'For confirmation'"
              (click)="open(content1)"
            >
              <span class="next"> Reject </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="active == false" style="text-align: center; padding-top: 30%">
      <div style="margin-left: -7%">
        <mat-icon style="color: #47b2e4; font-size: 60px">list_alt</mat-icon>
      </div>
      <div style="padding-top: 1%">
        <label class="welcome">welcome</label>
      </div>
      <div style="padding-top: 3%">
        <label class="document1">The document appears here </label>
      </div>
      <div style="padding-top: 2%">
        <label class="description">Please click on show document</label>
      </div>
    </div>
  </div>
</div>

<ng-template #content1>
  <div class="modal-body rounded-8">
    <div style="text-align: center">
      <div style="padding-top: 10%">
        <img
          style="width: 90px; height: 90px"
          src="./../../../assets/icons/list.PNG"
        />
      </div>

      <div style="padding-top: 5%">
        <label
          style="
            width: 250px;
            font-family: Poppins;
            font-size: 25px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.98;
            letter-spacing: normal;
            text-align: center;
            color: #1d3a66;
          "
        >
          would you like to decline the request ?
        </label>
      </div>
      <div style="padding-top: 3%; display: flex">
        <div class="container text-right nextbtn">
          <button type="button" class="btn button1" (click)="open(content2)">
            <span class="next"> Sure </span>
          </button>
        </div>

        <div class="container text-right nextbtn">
          <button type="button" class="btn button5" (click)="dimision()">
            <span class="next"> no </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #content2>
  <div class="modal-body rounded-8">
    <div style="text-align: center">
      <div style="padding-top: 5%">
        <label
          style="
            font-family: Poppins;
            font-size: 24px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.98;
            letter-spacing: normal;
            text-align: center;
            color: #1d3a66;
          "
        >
          Please, leave a comment !
        </label>
      </div>
      <div style="padding-top: 1%">
        <label
          style="
            font-family: Poppins;
            font-size: 12px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.78;
            letter-spacing: normal;
            text-align: center;
            color: #1d3a66;
          "
        >
          Reasons why the document is rejected
        </label>
      </div>
      <div style="padding-top: 3%">
        <mat-form-field style="width: 300px">
          <textarea
            matInput
            cols="100"
            name="message"
            rows="9"
            placeholder="Reason"
            [(ngModel)]="message"
            required
          ></textarea>
        </mat-form-field>
      </div>
    </div>

    <div style="padding-top: 3%; display: flex">
      <div class="container text-right nextbtn">
        <button type="button" class="btn button6" (click)="reject()">
          <span class="next1"> Send rejection </span>
        </button>
      </div>

      <div class="container text-right nextbtn">
        <button type="button" class="btn button7" (click)="dimision()">
          <span class="next1"> Don't reject </span>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #content3>
  <div class="modal-body rounded-8">
    <div style="text-align: center">
      <div style="padding-top: 10%">
        <img
          style="width: 110px; height: 90px"
          src="./../../../assets/icons/sucees.PNG"
        />
      </div>

      <div style="padding-top: 5%">
        <label
          style="
            width: 250px;
            font-family: Poppins;
            font-size: 25px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.98;
            letter-spacing: normal;
            text-align: center;
            color: #1d3a66;
          "
        >
          Thank you
        </label>
      </div>

      <div style="padding-top: 5%">
        <label
          style="
            font-family: Poppins;
            font-size: 22px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.06;
            letter-spacing: normal;
            text-align: center;
            color: #1d3a66;
          "
        >
          Successfully Approved Request
        </label>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #content4 class="modal-dialog" let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <mat-tab-group>
      <mat-tab label="Vessel"
        ><div class="row" style="width: 90%; padding: 2%">
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Vessel Name </label>
            </div>
            <div>
              <label class="lab2">{{ vesselname }} </label>
            </div>
          </div>
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Vessel Type </label>
            </div>
            <div>
              <label class="lab2"> {{ vesseltype }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Vessel build Year </label>
            </div>
            <div>
              <label class="lab2"> {{ vesselbuildyear }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Vessel Reg Port </label>
            </div>
            <div>
              <label class="lab2"> {{ vesselregport }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Vessel Draft </label>
            </div>
            <div>
              <label class="lab2"> {{ vesseldraft }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Vessel Length </label>
            </div>
            <div>
              <label class="lab2">{{ vessellength }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Vessel Gross Weight </label>
            </div>
            <div>
              <label class="lab2"> {{ vesselgrossweight }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Vessel Net Weight </label>
            </div>
            <div>
              <label class="lab2"> {{ vesselnetweight }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label> Vessel Name </label>
            </div>
            <div>
              <label class="lab2"> {{ vesselname }} </label>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Call & Shipping">
        <div class="row" style="width: 90%; padding: 2%">
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Call Sign Type </label>
            </div>
            <div>
              <label class="lab2"> {{ callsigntype }} </label>
            </div>
          </div>
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> call Sign </label>
            </div>
            <div>
              <label class="lab2"> {{ callsign }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Owner Code </label>
            </div>
            <div>
              <label class="lab2"> {{ ownercode }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Owner Name </label>
            </div>
            <div>
              <label class="lab2"> {{ ownername }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Shipping Agent Code </label>
            </div>
            <div>
              <label class="lab2"> {{ shippingagentcode }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Shipping Agent </label>
            </div>
            <div>
              <label class="lab2">{{ shippingagent }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Ship Master </label>
            </div>
            <div>
              <label class="lab2"> {{ shipmaster }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> ETA </label>
            </div>
            <div>
              <label class="lab2"> {{ eta }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> ETD </label>
            </div>
            <div>
              <label class="lab2"> {{ etd }} </label>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Port">
        <div class="row" style="width: 90%; padding: 2%">
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Previous Port Code </label>
            </div>
            <div>
              <label class="lab2"> {{ previousportcode }} </label>
            </div>
          </div>
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Previous Port Name </label>
            </div>
            <div>
              <label class="lab2"> {{ previousportname }} </label>
            </div>
          </div>
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Port Of Call Code </label>
            </div>
            <div>
              <label class="lab2"> {{ portofcallcode }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Port Of Call Code </label>
            </div>
            <div>
              <label class="lab2"> {{ portofcallcode }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Port Of Call Name </label>
            </div>
            <div>
              <label class="lab2"> {{ portofcallname }} </label>
            </div>
          </div>
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Next Port Code </label>
            </div>
            <div>
              <label class="lab2">{{ nextportcode }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Next Port Name </label>
            </div>
            <div>
              <label class="lab2"> {{ nextportname }} </label>
            </div>
          </div>
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Preferred Dock </label>
            </div>
            <div>
              <label class="lab2"> {{ preferreddock }} </label>
            </div>
          </div>
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Berth Type </label>
            </div>
            <div>
              <label class="lab2"> {{ berthtype }} </label>
            </div>
          </div>
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Dangerous Goods </label>
            </div>
            <div>
              <label class="lab2"> {{ dangerousgoods }} </label>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Visit Purpose">
        <div class="row" style="width: 90%; padding-top: 2%">
          <div
            class="col-lg-4"
            style="padding-top: 1%"
            *ngFor="let visitp of VisitPurposesList"
          >
            <mat-card class="card2">
              <mat-card-content style="text-align: center">
                <h5 class="titre_card">Visit purpose</h5>
              </mat-card-content>
              <mat-card-subtitle>
                <label class="subtitle_card"
                  >Reason : {{ visitp.reason }}
                </label>
              </mat-card-subtitle>
            </mat-card>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="PassengerSummarys">
        <div class="row" style="width: 90%; padding-top: 2%">
          <div class="col-lg-4">
            <div class="labeldetail">
              <div>
                <label class="lab1"> Total foreigner Passenger </label>
              </div>
              <div>
                <label class="lab2"> {{ total_pass2 }} </label>
              </div>
            </div>
            <div class="labeldetail">
              <div>
                <label class="lab1"> Total Libyan Passenger </label>
              </div>
              <div>
                <label class="lab2"> {{ total_pass1 }} </label>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4"
            style="padding-top: 1%"
            *ngFor="let Passenger of PassengerSummarysList"
          >
            <mat-card class="card2">
              <mat-card-content style="text-align: center">
                <h5 class="titre_card">Passenger summary</h5>
              </mat-card-content>
              <mat-card-subtitle>
                <label class="subtitle_card"
                  >Number of Passenger :
                  {{ Passenger.numberofpassenger }} </label
                ><br />
                <label class="subtitle_card"
                  >Passenger Nationally :
                  {{ Passenger.passengernationally }}</label
                >
              </mat-card-subtitle>
            </mat-card>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Cargo Summary">
        <div class="row" style="width: 90%; padding-top: 2%">
          <div
            class="col-lg-4"
            *ngFor="let Cargo of CargoSummarysList"
            style="padding-top: 1%"
          >
            <mat-card class="card2">
              <mat-card-content style="text-align: center">
                <h5 class="titre_card">Cargo summary</h5>
              </mat-card-content>
              <mat-card-subtitle>
                <label class="subtitle_card"
                  >Cargo Code : {{ Cargo.cargocode }} </label
                ><br />
                <label class="subtitle_card"
                  >Cargo Amount : {{ Cargo.cargoamount }} </label
                ><br />
                <label class="subtitle_card"
                  >Operation Code : {{ Cargo.operationcode }}
                </label>
              </mat-card-subtitle>
            </mat-card>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-template>
