<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div
  class="header-area fixed-top"
<<<<<<< HEAD
  style="background-color: #1671b3"
  [ngStyle]="{ 'background-color': color_backround }"
=======
  style="background-color: rgba(22, 113, 179, 1)"
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
>
  <div class="preview-header-inner header-sticky">
    <div class="container-fluid container-fluid--cp-150">
      <div class="row">
        <div class="col-lg-12">
          <div class="header position-relative">
            <!-- brand logo -->
            <div class="header__logo" style="padding-left: 3%">
              <a>
                <img
                  style="height: 50px; width: 150px"
                  src="./../../../assets/logo1.png"
                  class="img-fluid light-logo"
                  alt="4in data"
                />
                <img
                  src="../assets/cima.jpg"
                  style="height: 40px; width: 40px"
                  src="./../../../assets/logo1.png"
                  class="img-fluid dark-logo"
                  alt=""
                  style="width: 50px"
                />
              </a>
            </div>

            <div
              class="header__navigation menu-style-four preview-menu d-none d-xl-block"
              style="padding-left: 10%"
            >
              <nav
                class="navigation-menu navigation-menu--onepage navigation-menu-right"
              >
                <ul>
                  <li>
                    <a routerLink="/home" style="display: flex">
                      <div>
                        <mat-icon class="icon_class">home</mat-icon>
                      </div>
                      <div style="margin-top: 5px">
                        <span>Home</span>
                      </div></a
                    >
                  </li>

                  <li>
                    <a routerLink="/" style="display: flex">
                      <div style="margin-top: 5px">
                        <span>ABOUTLTNT </span>
                      </div>
                      <div>
                        <mat-icon class="icon_class">expand_more</mat-icon>
                      </div>
                    </a>
                  </li>

                  <li style="width: 260px">
                    <a routerLink="/" style="display: flex">
                      <div style="margin-top: 5px">
                        <span>INFORMATION CENTER </span>
                      </div>
                      <div>
                        <mat-icon class="icon_class">expand_more</mat-icon>
                      </div>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>

            <div class="header__actions--preview paddinclass">
              <div class="header__actions">
                <div class="header__icons-wrapper header-right-inner"></div>
<<<<<<< HEAD
                <div style="display: flex">
                  <div>
                    <a>
                      <div style="margin-left: 5px">
                        <mat-icon class="icon_class">search</mat-icon>
                      </div>
                    </a>
                  </div>

                  <div>
                    <a>
                      <div style="margin-left: 5px">
                        <mat-icon class="icon_class">notifications</mat-icon>
                      </div>
                    </a>
                  </div>

                  <div>
                    <a style="display: flex">
                      <div style="margin-left: 5px">
                        <span style="color: #fff">{{ Getusername() }} </span>
                      </div>
                      <div>
                        <mat-icon class="icon_class1">expand_more</mat-icon>
                      </div>
                    </a>
                  </div>
=======
                <div>
                  <a routerLink="/home" style="display: flex">
                    <div>
                      <span style="color: #fff; font-weight: 700">Logout</span>
                    </div>
                    <div style="margin-left: 5px">
                      <mat-icon class="icon_class">keyboard_tab</mat-icon>
                    </div>
                  </a>
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
                </div>

                <!-- mobile menu -->
                <div
                  class="mobile-navigation-icon d-block d-xl-none"
                  id="mobile-menu-trigger"
                >
                  <i></i>
                </div>
              </div>
            </div>

            <div class="header__icons-wrapper header-right-inner"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
