<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>

<div class="c1">
  <div (click)="Preview()">
    <mat-icon
      style="color: #1671b3; font-size: 35px; font-weight: 700; cursor: pointer"
      >arrow_back</mat-icon
    >
  </div>
  <div class="Trac-2081"></div>

  <div>
    <h2 class="titre-page">Shipping Arrival Registration</h2>
    <div class="about-border"></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 divmenu">
    <div style="text-align: center; padding-top: 2%">
      <div (click)="changebloc(1)" style="cursor: pointer">
        <mat-icon style="color: rgba(71, 178, 228, 1); font-size: 35px"
          >directions_boat</mat-icon
        >
      </div>
      <div (click)="changebloc(1)">
        <label style="cursor: pointer" class="vessel_call_information"
          >Vessel call information
        </label>
      </div>
      <mat-icon *ngIf="Form1.valid && form2Bool" class="icon-menu"
        >check</mat-icon
      >
      <mat-icon *ngIf="Form1.invalid || form2Bool == false" class="icon-menu1"
        >new_releases</mat-icon
      >

      <div style="height: 70px">
        <div class="vl"></div>
      </div>
      <div (click)="changebloc(2)" style="cursor: pointer">
        <mat-icon style="color: rgba(71, 178, 228, 1); font-size: 35px"
          >my_location</mat-icon
        >
      </div>
      <div (click)="changebloc(2)">
        <label style="cursor: pointer" class="vessel_call_information"
          >Visit Purpose
        </label>
      </div>
      <mat-icon *ngIf="VisitPurposelist.length > 0" class="icon-menu"
        >check</mat-icon
      >
      <mat-icon *ngIf="VisitPurposelist.length == 0" class="icon-menu1"
        >new_releases</mat-icon
      >
      <div style="height: 70px">
        <div class="vl"></div>
      </div>
      <div (click)="changebloc(3)" style="cursor: pointer">
        <i class="fas fa-box-open iconcargo"></i>
      </div>
      <div (click)="changebloc(3)">
        <label style="cursor: pointer" class="vessel_call_information"
          >Cargo Summary</label
        >
      </div>
      <mat-icon *ngIf="CargoSummarylist.length > 0" class="icon-menu"
        >check</mat-icon
      >
      <mat-icon *ngIf="CargoSummarylist.length == 0" class="icon-menu1"
        >new_releases</mat-icon
      >
      <div style="height: 70px">
        <div class="vl"></div>
      </div>
      <div (click)="changebloc(4)" style="cursor: pointer">
        <mat-icon style="color: rgba(71, 178, 228, 1); font-size: 35px"
          >person</mat-icon
        >
      </div>
      <div (click)="changebloc(4)">
        <label style="cursor: pointer" class="vessel_call_information"
          >Passengers Summary</label
        >
      </div>
      <mat-icon *ngIf="PassengerSummarylist.length > 0" class="icon-menu"
        >check</mat-icon
      >
      <mat-icon *ngIf="PassengerSummarylist.length == 0" class="icon-menu1"
        >new_releases</mat-icon
      >
    </div>
  </div>

  <div class="col-lg-8 blocform">
    <div *ngIf="BlocB1" class="div3">
      <div class="header-border" style="min-height: 600px">
        <h2 class="heading">
          <div style="display: flex">
            <div class="padding_class">
              <h1>
                <div
                  (click)="ChangeForm(form1)"
                  class="div1"
                  [ngStyle]="{ 'background-color': btn_backround1 }"
                >
                  <span
                    style="
                      font-size: 15px;
                      text-align: center;
                      font-family: Montserrat;
                      font-size: 18px;
                      font-weight: bold;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: 1.78;
                      letter-spacing: normal;
                      text-align: center;
                      color: #073866;
                    "
                    [ngStyle]="{ color: color1 }"
                    >General informations</span
                  >
                </div>
              </h1>
            </div>
            <div style="width: 50%">
              <h1>
                <div
                  (click)="ChangeForm(form2)"
                  class="div1"
                  [ngStyle]="{ 'background-color': btn_backround2 }"
                >
                  <span
                    style="
                      font-size: 15px;
                      text-align: center;
                      font-weight: 700;
                    "
                    [ngStyle]="{ color: color2 }"
                    >Shipping Details</span
                  >
                </div>
              </h1>
            </div>
          </div>
        </h2>

        <div style="padding-top: 4%; padding-left: 7%">
          <form [formGroup]="Form1" autocomplete="off" form>
            <div *ngIf="Formbool1">
              <div class="row" style="padding: 1%">
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      (keyup)="style($event)"
                      placeholder="Voyage No"
                      formControlName="VoyageNo"
                      required
                    />
                  </mat-form-field>
                </div>

                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      placeholder="Vessel Name"
                      formControlName="VesselName"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input
                      type="text"
                      matInput
                      placeholder="Vessel Type"
                      formControlName="VesselType"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      type="number"
                      placeholder="Vessel build Year"
                      formControlName="VesselbuildYear"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      type="number"
                      placeholder="Vessel Reg. Port"
                      formControlName="VesselRegPort"
                    />
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      type="number"
                      placeholder="Vessel Length"
                      formControlName="VesselLength"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      type="number"
                      placeholder="Vessel Gross Weight"
                      formControlName="VesselGrossWeight"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      type="number"
                      placeholder="Vessel Net Weight"
                      formControlName="VesselNetWeight"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      type="number"
                      placeholder="Vessel Draft"
                      formControlName="VesselDraft"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-select-country
                    style="color: #1d3a66"
                    (onCountrySelected)="onCountrySelected($event)"
                    >>
                  </mat-select-country>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      type="text"
                      placeholder="Owner Code"
                      formControlName="OwnerCode"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      type="text"
                      placeholder="Owner Name"
                      formControlName="OwnerName"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div *ngIf="Formbool2">
              <div class="row" style="padding-top: 1%">
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input
                      type="text"
                      required
                      placeholder="Call Sign Type"
                      aria-label="Call Sign Type"
                      matInput
                      [formControl]="CallSignType"
                      [matAutocomplete]="auto"
                    />
                    <mat-autocomplete
                      #auto="matAutocomplete"
                      [displayWith]="displayFn"
                    >
                      <mat-option
                        *ngFor="let option of options"
                        [value]="option"
                      >
                        {{ option.name }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>

                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      required
                      type="text"
                      placeholder="Call Sign"
                      formControlName="CallSign"
                    />
                  </mat-form-field>
                </div>

                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      required
                      type="text"
                      placeholder="Shipping Agent Code"
                      formControlName="ShippingAgentCode"
                    />
                  </mat-form-field>
                </div>

                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      type="text"
                      placeholder="Shipping Agent"
                      formControlName="ShippingAgent"
                    />
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      required
                      type="text"
                      placeholder="Ship Master"
                      formControlName="ShipMaster"
                    />
                  </mat-form-field>
                </div>

                <div class="col-lg-6">
                  <mat-form-field>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      [formControl]="dateETA"
                      placeholder="ETA"
                      required
                      (dateInput)="onchangedateETA($event.value)"
                      style="color: #1d3a66"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="col-lg-6">
                  <mat-form-field>
                    <input
                      matInput
                      [matDatepicker]="picker1"
                      placeholder="ETD"
                      [formControl]="dateETD"
                      (dateInput)="onchangedateETD($event.value)"
                      style="color: #1d3a66"
                      required
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker1"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      placeholder="Preferred Dock"
                      formControlName="PreferredDock"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="col-lg-6" style="padding-top: 3%">
                  <label>Dangerous Goods :</label>
                  <mat-radio-group
                    style="padding-left: 2%"
                    aria-label="Dangerous Goods"
                    (change)="DangerousGoodsGange($event)"
                  >
                    <mat-radio-button
                      value="yes"
                      style="color: black"
                      checked="checked"
                      >Yes
                    </mat-radio-button>
                    <mat-radio-button
                      value="no"
                      style="padding-left: 2%; color: black"
                      >No
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-lg-6" style="padding-top: 2%">
                  <ng-select
                    formControlName="PreviousPortPrevious"
                    [items]="portlist"
                    (change)="changeportPrevious($event)"
                    bindLabel="name"
                    placeholder="Previous Port"
                    [(ngModel)]="selectedportPrevious"
                  >
                  </ng-select>
                </div>
                <div class="col-lg-6" style="padding-top: 3%">
                  <ng-select
                    formControlName="PortofCall"
                    [items]="portlist"
                    (change)="changeportcall($event)"
                    bindLabel="name"
                    placeholder="Port of Call"
                    [(ngModel)]="selectedportcall"
                  >
                  </ng-select>
                </div>
                <div class="col-lg-6" style="padding-top: 3%">
                  <ng-select
                    formControlName="portNext"
                    [items]="portlist"
                    (change)="changeportNext($event)"
                    bindLabel="name"
                    placeholder="Next Port"
                    [(ngModel)]="selectedportNext"
                  >
                  </ng-select>
                </div>
              </div>
            </div>
          </form>

          <!-- [disabled]="Form1.invalid" -->

          <div class="container text-right nextbtn">
            <button type="button" class="btn button1" (click)="Next()">
              <span class="next"> Next </span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="BlocB2">
      <div
        *ngIf="VisitPurposelist.length == 0"
        style="text-align: center; display: block"
      >
        <div>
          <img
            src="./../../../../assets/icon.png"
            style="width: 285px; height: 205px"
          />
        </div>
        <div style="padding-top: 2%">
          <span class="span1"> Empty list ! </span>
        </div>
        <div style="padding-top: 3%">
          <span class="span2"> You have no visit purpose at this moment </span>
        </div>
        <div style="padding-top: 2%">
          <button type="button" class="btn button3">
            <div style="display: flex">
              <div>
                <mat-icon
                  style="color: #ffffff; font-size: 30px; font-weight: 900"
                  >add</mat-icon
                >
              </div>
              <div style="padding-top: 3px" (click)="open(content)">
                <span class="add"> Add </span>
              </div>
            </div>
          </button>
        </div>

        <div style="padding-top: 2%">
          <input
            style="display: none"
            type="file"
            #fileInput
            (change)="onFileChange($event)"
            name="uploadFile"
            multiple="multiple"
            #hiddenfileinput
          />
          <button
            type="button"
            class="btn button3"
            (click)="hiddenfileinput.click()"
          >
            <div style="display: flex">
              <div>
                <mat-icon
                  style="color: #ffffff; font-size: 30px; font-weight: 900"
                  >attach_file</mat-icon
                >
              </div>
              <div style="padding-top: 0px">
                <span class="add"> Load File </span>
              </div>
            </div>
          </button>
        </div>
      </div>
      <div *ngIf="VisitPurposelist.length > 0" style="min-height: 600px">
        <div class="row" style="padding: 3%; min-height: 530px">
          <div class="col-lg-4" style="padding-top: 1%">
            <mat-card class="card1" (click)="open(content)">
              <mat-card-content class="mat_content">
                <div style="padding-top: 5px">
                  <mat-icon style="font-size: 35px; cursor: pointer"
                    >add</mat-icon
                  >
                </div>
                <div style="padding-left: 4%; cursor: pointer">
                  <label>Add </label>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div
            class="col-lg-4"
            style="padding-top: 1%"
            *ngFor="let visitp of VisitPurposelist"
          >
            <mat-card class="card2">
              <mat-card-content style="text-align: center">
                <h5 class="titre_card">Visit purpose</h5>
              </mat-card-content>
              <mat-card-subtitle>
                <label class="subtitle_card"
                  >Reason : {{ visitp.reason }}
                </label>
              </mat-card-subtitle>

              <mat-card-actions
                style="padding-left: 25%; position: absolute; bottom: 20px"
              >
                <button
                  mat-button
                  (click)="VisitPurpose_remove(visitp)"
                  class="btn btn-light shadow-lg"
                  style="font-size: 14px"
                  class="button_delete"
                >
                  <mat-icon style="color: rgba(71, 178, 228, 1)"
                    >delete</mat-icon
                  >
                  Delete
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div style="text-align: center" class="container text-right;">
          <button type="button" class="btn button1" (click)="Next()">
            <span class="next"> Next </span>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="BlocB3">
      <div
        *ngIf="CargoSummarylist.length == 0"
        style="text-align: center; display: block"
      >
        <div>
          <img
            src="./../../../../assets/icon.png"
            style="width: 285px; height: 205px"
          />
        </div>
        <div style="padding-top: 2%">
          <span class="span1"> Empty list ! </span>
        </div>
        <div style="padding-top: 3%">
          <span class="span2"> You have no Cargo Summary at this moment </span>
        </div>
        <div style="padding-top: 2%">
          <button type="button" class="btn button3">
            <div style="display: flex">
              <div>
                <mat-icon
                  style="color: #ffffff; font-size: 30px; font-weight: 900"
                  >add</mat-icon
                >
              </div>
              <div style="padding-top: 3px" (click)="open(content1)">
                <span class="add"> Add </span>
              </div>
            </div>
          </button>
        </div>
        <div style="padding-top: 2%">
          <input
            style="display: none"
            type="file"
            #fileInput
            (change)="onFileChange($event)"
            name="uploadFile"
            multiple="multiple"
            #hiddenfileinput
          />
          <button
            type="button"
            class="btn button3"
            (click)="hiddenfileinput.click()"
          >
            <div style="display: flex">
              <div>
                <mat-icon
                  style="color: #ffffff; font-size: 30px; font-weight: 900"
                  >attach_file</mat-icon
                >
              </div>
              <div style="padding-top: 0px">
                <span class="add"> Load File </span>
              </div>
            </div>
          </button>
        </div>
      </div>
      <div *ngIf="CargoSummarylist.length > 0" style="min-height: 600px">
        <div class="row" style="padding: 3%; min-height: 530px">
          <div class="col-lg-4" style="padding-top: 1%">
            <mat-card class="card1" (click)="open(content1)">
              <mat-card-content class="mat_content">
                <div style="padding-top: 5px">
                  <mat-icon style="font-size: 35px; cursor: pointer"
                    >add</mat-icon
                  >
                </div>
                <div style="padding-left: 4%; cursor: pointer">
                  <label>Add </label>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div
            class="col-lg-4"
            style="padding-top: 1%"
            *ngFor="let Cargo of CargoSummarylist"
          >
            <mat-card class="card2">
              <mat-card-content style="text-align: center">
                <h5 class="titre_card">Cargo summary</h5>
              </mat-card-content>
              <mat-card-subtitle>
                <label class="subtitle_card"
                  >Cargo Code : {{ Cargo.CargoCode }} </label
                ><br />
                <label class="subtitle_card"
                  >Cargo Amount : {{ Cargo.CargoAmount }} </label
                ><br />
                <label class="subtitle_card"
                  >Operation Code : {{ Cargo.OperationCode }}
                </label>
              </mat-card-subtitle>

              <mat-card-actions
                style="padding-left: 25%; position: absolute; bottom: 20px"
              >
                <button
                  mat-button
                  (click)="CargoSummary_remove(Cargo)"
                  class="btn btn-light shadow-lg"
                  style="font-size: 14px"
                  class="button_delete"
                >
                  <mat-icon style="color: rgba(71, 178, 228, 1)"
                    >delete</mat-icon
                  >
                  Delete
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div
          style="text-align: center"
          class="container text-right;position: absolute; bottom: 0px;"
        >
          <button type="button" class="btn button1" (click)="Next()">
            <span class="next"> Next </span>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="BlocB4">
      <div
        *ngIf="PassengerSummarylist.length == 0"
        style="text-align: center; display: block"
      >
        <div>
          <img
            src="./../../../../assets/icon.png"
            style="width: 285px; height: 205px"
          />
        </div>
        <div style="padding-top: 2%">
          <span class="span1"> Empty list ! </span>
        </div>
        <div style="padding-top: 3%">
          <span class="span2">
            You have no Passenger Summary at this moment
          </span>
        </div>
        <div style="padding-top: 2%">
          <button type="button" class="btn button3">
            <div style="display: flex">
              <div>
                <mat-icon
                  style="color: #ffffff; font-size: 30px; font-weight: 900"
                  >add</mat-icon
                >
              </div>
              <div style="padding-top: 3px" (click)="open(content2)">
                <span class="add"> Add </span>
              </div>
            </div>
          </button>
        </div>
      </div>
      <div *ngIf="PassengerSummarylist.length > 0" style="min-height: 600px">
        <div class="row" style="padding: 3%; min-height: 530px">
          <div class="col-lg-12">
            <form
              class="text-center border border-light p-5"
              [formGroup]="passeger"
            >
              <div class="row" style="padding-left: 7%">
                <div class="col-lg-6">
                  <label> Total foreigner Passenger</label>
                  <input
                    style="padding-top: 2%"
                    type="text"
                    formControlName="totla_foreigner"
                    mdbInput
                    class="form-control mb-4"
                  />
                </div>

                <div class="col-lg-6" style="padding-left: 2%">
                  <label> Total Libyan Passenger</label>
                  <input
                    style="padding-top: 2%"
                    type="text"
                    formControlName="totla_passenger"
                    id="defaultContactFormEmail"
                    mdbInput
                    class="form-control mb-4"
                    placeholder="Total Libyan Passenger"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-4" style="padding-top: 1%">
            <mat-card class="card1" (click)="open(content2)">
              <mat-card-content class="mat_content">
                <div style="padding-top: 5px">
                  <mat-icon style="font-size: 35px; cursor: pointer"
                    >add</mat-icon
                  >
                </div>
                <div style="padding-left: 4%; cursor: pointer">
                  <label>Add </label>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div
            class="col-lg-4"
            style="padding-top: 1%"
            *ngFor="let PassengerS of PassengerSummarylist"
          >
            <mat-card class="card2">
              <mat-card-content style="text-align: center">
                <h5 class="titre_card">Passenger summary</h5>
              </mat-card-content>
              <mat-card-subtitle>
                <label class="subtitle_card"
                  >Number of Passenger :
                  {{ PassengerS.NumberofPassenger }} </label
                ><br />
                <label class="subtitle_card"
                  >Passenger Nationally :
                  {{ PassengerS.PassengerNationally }}</label
                >
              </mat-card-subtitle>

              <mat-card-actions
                style="padding-left: 25%; position: absolute; bottom: 20px"
              >
                <button
                  mat-button
                  (click)="PassengerSummary_remove(PassengerS)"
                  class="btn btn-light shadow-lg"
                  style="font-size: 14px"
                  class="button_delete"
                >
                  <mat-icon style="color: rgba(71, 178, 228, 1)"
                    >delete</mat-icon
                  >
                  Delete
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1 blocaction">
    <div class="row" style="padding-top: 5%">
      <div class="div_action" (click)="Vessel_Call_Infomation_add(content3)">
        <mat-icon class="icon_action">save</mat-icon>
      </div>
    </div>
    <div>
      <label class="labaction"> Save </label>
    </div>

    <div class="row" style="padding-top: 5%">
      <div (click)="Submit(content3)" class="div_action">
        <mat-icon class="icon_action">send</mat-icon>
      </div>
    </div>
    <div (click)="Submit(content3)">
      <label class="labaction"> Submit </label>
    </div>

    <div class="row" style="padding-top: 5%">
      <div routerLink="/ShippingArrival/liste" class="div_action">
        <mat-icon class="icon_action">format_list_bulleted</mat-icon>
      </div>
    </div>
    <div routerLink="/ShippingArrival/liste">
      <label class="labaction"> Go list </label>
    </div>

    <div class="row" style="padding-top: 5%">
      <div (click)="fileInput.click()" class="div_action">
        <mat-icon class="icon_action">cloud_upload</mat-icon>
      </div>
    </div>
    <input
      style="display: none"
      type="file"
      #fileInput
      (change)="onFileChange($event)"
      name="uploadFile"
      multiple="multiple"
    />
    <div>
      <label class="labaction"> Upload </label>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="titre_modal" id="modal-basic-title">Visit Purpose</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="bodymodal_visit">
      <form [formGroup]="FormVisitPurpose">
        <div class="mb-3 formmodal">
          <mat-form-field class="full-width">
            <input
              matInput
              required
              type="text"
              placeholder="Reason"
              formControlName="reason"
            />
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
  <div class="text-center" style="padding-bottom: 2%">
    <button type="button" class="btn button2" (click)="VisitPurpose_add()">
      <span class="Save"> Save</span>
    </button>
  </div>
</ng-template>

<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="titre_modal" id="modal-basic-title">Cargo Summary</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="bodymodal">
      <form [formGroup]="FormCargoSummary">
        <div class="mb-3">
          <mat-form-field class="full-width">
            <input
              matInput
              required
              type="text"
              placeholder="Operation Code"
              formControlName="OperationCode"
            />
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field class="full-width">
            <input
              matInput
              required
              type="text"
              placeholder="Cargo Code"
              formControlName="CargoCode"
            />
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field class="full-width">
            <input
              matInput
              required
              type="number"
              placeholder="Cargo Amount"
              formControlName="CargoAmount"
            />
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
  <div class="text-center" style="padding-bottom: 2%">
    <button type="button" class="btn button2" (click)="CargoSummary_add()">
      <span class="Save"> Save</span>
    </button>
  </div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="titre_modal" id="modal-basic-title">Passenger Summary</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="bodymodal">
      <form [formGroup]="FormPassengerSummary">
        <div class="mb-3">
          <mat-form-field class="full-width">
            <input
              matInput
              required
              type="number"
              placeholder="Number of Passenger"
              formControlName="NumberofPassenger"
            />
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field class="full-width">
            <input
              matInput
              required
              type="text"
              placeholder="Passenger Nationally"
              formControlName="PassengerNationally"
            />
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
  <div class="text-center" style="padding-bottom: 2%">
    <button type="button" class="btn button2" (click)="PassengerSummary_add()">
      <span class="Save"> Save</span>
    </button>
  </div>
</ng-template>

<ng-template #content3>
  <div class="modal-body rounded-8">
    <div style="text-align: center">
      <div>
        <span
          class="material-icons green-color"
          style="
            font-size: 100px;
            color: #41d96f;
            text-align: center;
            font-weight: 800;
          "
          >check
        </span>
      </div>
      <div>
        <label
          style="
            font-family: Montserrat;
            font-size: 26px;
            padding-top: 2%;
            font-weight: bold;
            color: #073866;
          "
        >
          THANKS</label
        >
      </div>
      <div>
        <label
          style="
            width: 310px;
            font-size: 16px;
            font-weight: bold;
            padding-top: 40px;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.77;
            letter-spacing: normal;
            text-align: center;
          "
        >
          Your vessel call information document has been recorded</label
        >
      </div>
      <div class="text-center" style="padding-bottom: 2%; padding-top: 6%">
        <button type="button" class="btn button2" (click)="Go_list()">
          <span class="Save"> Go list</span>
        </button>
      </div>
      <div class="text-center" style="padding-bottom: 2%; padding-top: 3%">
        <button type="button" class="btn button4" (click)="generate_pdf()">
          <!-- <mat-icon style="color: #a9a9a9; font-size: 30px; padding-top: 2%"
            >print</mat-icon
          > -->
          <span class="print"> Print</span>
        </button>
      </div>
    </div>
  </div>
</ng-template>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
  [fullScreen]="true"
>
  <p style="font-size: 20px; color: white">please wait</p>
</ngx-spinner>
