::ng-deep input:focus::placeholder {
  color: blue;
}
.row {
  width: 100%;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px;
  padding: 0.75em 0.75em 0 0.75em;
}

ng-select {
  width: 290px;
  height: 45px;
}

ul.steps-indicator li:last-child .done .step-indicator {
  border-color: orange;
}

mat-stepper {
  background-color: #ffffff;
}

::ng-deep .mat-step-text-label {
  color: black;
}
::ng-deep mat-form-field {
  width: 230px;
}

.green-color {
  color: green;
}
::ng-deep :host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: rgba(71, 178, 228, 1) !important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label ::after {
  color: black !important;
}
::ng-deep .mat-stepper-horizontal-line {
  border-top-width: 3px;
  background-color: #fff;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 5%;
}

::ng-deep .mat-form-field-infix {
  top: -3px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: rgba(71, 178, 228, 1);
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: rgba(71, 178, 228, 1);
  border-color: rgba(71, 178, 228, 1);
}

::ng-deep
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: rgba(71, 178, 228, 1);
}

p {
  font-family: Lato;
}

input {
  color: #1d3a66;
}

mat-datepicker-toggle {
  color: rgba(71, 178, 228, 1) !important;
}

.Save {
  width: 70px;
  height: 39px;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.titre-page {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: center;
  margin-left: -4%;
  color: #1d3a66;
}

.form-control {
  border-radius: 23px;
  width: 230px;
}
.btn-close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: rgb(21, 199, 15);
  text-shadow: 0 1px 0 rgb(151, 41, 41);
  filter: alpha(opacity=20);
  opacity: 0.2;
}
.formmodal {
  padding-top: 10%;
}

.bodymodal {
  min-height: 200px;
  text-align: center;
}
.bodymodal_visit {
  min-height: 150px;
  text-align: center;
}
.titre_modal {
  margin: 10px 5px 5px 130px;

  font-family: Poppins;
  font-size: 23px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.63;
  letter-spacing: normal;
  text-align: center;
  color: #1d3a66;
}
.card1 {
  cursor: pointer;
  width: 100%;
  height: 260px;
  background-color: rgba(71, 178, 228, 1);
  color: #fff;
  border-radius: 15px;
}
/* ::ng-deep .card1 :hover {
    background-color: #fff;
    color: rgba(71, 178, 228, 1);
  } */
.card2 {
  color: #1d3a66;
  width: 100%;
  height: 260px;
  background-color: rgb(255, 255, 255);
  border-radius: 27px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.subtitle_card {
  font-weight: 800;
  font-size: 15px;
  padding-top: 3%;
}
.titre_card {
  font-weight: 700;
}

mat-card-title {
  font-size: 17px;
}

::ng-deep .mat-step-icon-state-done {
  color: rgb(255, 255, 255) !important;
  background-color: #41ae62;
}

.divmenu {
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  height: 100%;
}

.vl {
  border-left: 1px solid rgb(95, 95, 95);
  height: 60px;
  position: absolute;
  left: 15%;
  margin-left: -6px;
}
.div3 {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  padding-left: 2%;
  padding-right: 2%;
}

.button1 {
  border-radius: 35px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #55ec7a;
  width: 238px;
  height: 64px;
}

.button2 {
  border-radius: 35px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #55ec7a;
  width: 208px;
  height: 51px;
}
.button4 {
  padding-left: 2%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: transparent;
  width: 208px;
  height: 51px;
  border-radius: 35px;
  border: solid 1px #1671b3;
}
.print {
  width: 70px;
  height: 39px;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: rgb(151, 151, 151);
}

.next {
  width: 64px;
  height: 39px;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.header-border {
  width: 100%;
  margin-bottom: 13px;
  padding-top: -24px;
  border-top: rgba(71, 178, 228, 1) solid 6px;
  border-bottom: rgba(71, 178, 228, 1) solid 6px;
}
.icon-menu {
  padding-left: 2%;

  color: rgb(0, 190, 0);
  font-size: 30px;
}

.header-border > .heading,
.heading-subtitle {
  text-align: center;
  margin-top: -30px;
}

.header-border > .heading > span,
.heading-subtitle > span {
  background-color: white;
  box-shadow: white 0 11px 0px 0px, white 0 -13px 0px 0px;
}

.header-border > .heading-subtitle > span ::after {
  top: -13px;
}

.div2 {
  border-bottom: rgba(71, 178, 228, 1) solid 6px;
}

.about-border {
  display: block;
  width: 80px;
  height: 8px;
  background: #55ec7a;
  text-align: center;
  margin: 20px 20px 20px 45%;
}

@media only screen and (max-width: 991px) {
  .vl {
    border-left: 1px solid rgb(95, 95, 95);
    height: 60px;
    position: absolute;
    left: 45%;
    margin-left: 0px;
  }
}

::ng-deep .mat-form-field-underline,
::ng-deep .mat-form-field-ripple {
  background-color: #1671b3 !important;
}

.button_delete {
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.c1 {
  padding-top: 1%;
  padding-left: 1%;
}

@media only screen and (max-width: 1500px) {
  .c1 {
    padding-top: 4%;
    padding-left: 3%;
  }
}

.mat_content {
  font-size: 35px;
  padding-top: 40%;
  padding-left: 30%;
  text-align: center;
  display: flex;
}
@media only screen and (max-width: 1500px) {
  .card1 {
    cursor: pointer;
    width: 100%;
    height: 170px;
    background-color: rgba(71, 178, 228, 1);
    color: #fff;
    border-radius: 15px;
  }
  .mat_content {
    font-size: 25px;
    padding-top: 40%;
    padding-left: 20%;
    text-align: center;
    display: flex;
  }
  .card2 {
    color: #1d3a66;
    width: 100%;
    height: 170px;
    background-color: rgb(255, 255, 255);
    border-radius: 27px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }
}

.blocform {
  margin: 3% 3% 3% 3%;
}

.padding_class {
  width: 60%;
  padding-left: 20%;
}

@media only screen and (max-width: 1700px) {
  .padding_class {
    width: 60%;
    padding-left: 10%;
  }
}

.nextbtn {
  text-align: center;
  vertical-align: bottom;
  padding-top: 4%;
  padding-bottom: 1%;
}

::ng-deep .ng-select .ng-select-container {
  border-radius: 15px;
  min-height: 48px;
  border: solid 1px #47b2e4;
}

.span1 {
  padding-top: 3%;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: center;
  color: #a6a6a6;
}

.span2 {
  display: inline-block;
  width: 300px;
  padding-top: 2%;
  font-family: Poppins;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #a6a6a6;
}

.button3 {
  padding-left: 3%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #47b2e4;
  width: 170px;
  height: 49px;
  border-radius: 35px;
  border: solid 1px #ffffff;
}

.add {
  font-size: 18px;
  font-weight: 900;
  margin: 15px 8px 15px 15px;

  color: #ffffff;
}

.modal-content {
  border-radius: 150px;
}

@media only screen and (max-width: 1250px) and (min-width: 993px) {
  .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 174px;
  }
  .vessel_call_information {
    cursor: pointer;
    padding-top: 2%;
    white-space: nowrap;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    color: rgba(7, 61, 110, 1);
  }
  .div1 {
    width: 200px;
    height: 65px;

    border-radius: 35px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
  .header_titre {
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: center;
    color: #073866;
  }
  .iconcargo {
    color: rgba(71, 178, 228, 1);
    font-size: 28px;
    padding-left: 10%;
  }
  .icon-menu1 {
    padding-left: 2%;

    color: rgb(165, 165, 165);
    font-size: 30px;
  }
  .div_action {
    cursor: pointer;
    width: 55px;
    height: 55px;
    margin: 0 0 16px;
    padding: 40% 25% 25% 20%;
    border-radius: 12px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
  }
  .icon_action {
    color: #1671b3;
    font-size: 24px;
  }

  .labaction {
    width: 45px;
    height: 31px;

    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.18;
    letter-spacing: normal;

    color: #073866;
  }
}
@media only screen and (min-width: 1450px) {
<<<<<<< HEAD
  .icon_header {
    float: right;
    padding-right: 5%;
    font-size: 30px;
  }
=======
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
  .header_titre {
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: center;
    color: #073866;
  }
  .vessel_call_information {
    cursor: pointer;
    padding-top: 2%;
    white-space: nowrap;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(7, 61, 110, 1);
  }
  .div1 {
    width: 238px;
    height: 65px;

    border-radius: 35px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
  .iconcargo {
    color: rgba(71, 178, 228, 1);
    font-size: 28px;
    padding-left: 6%;
  }
  .icon-menu1 {
    padding-left: 2%;

    color: rgb(165, 165, 165);
    font-size: 30px;
  }
  .div_action {
    cursor: pointer;
    width: 100px;
    height: 90px;
    margin: 0 0 16px;
    padding: 28% 25% 25% 25%;
    border-radius: 12px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
  }
  .icon_action {
    color: #1671b3;
    font-size: 45px;
  }

  .labaction {
    width: 60px;
    height: 31px;
    margin: 1px 1px 2px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.18;
    letter-spacing: normal;
    text-align: center;
    color: #073866;
  }
}

@media only screen and (max-width: 991px) {
<<<<<<< HEAD
  .icon_header {
    float: right;
    padding-right: 5%;
    font-size: 30px;
  }
=======
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
  .vessel_call_information {
    cursor: pointer;
    padding-top: 2%;
    white-space: nowrap;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(7, 61, 110, 1);
  }
  .div1 {
    width: 238px;
    height: 65px;

    border-radius: 35px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
  .header_titre {
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: center;
    color: #073866;
  }
  .div_action {
    cursor: pointer;
    width: 70px;
    height: 70px;
    margin: 0 0 16px;
    padding: 36% 25% 25% 25%;
    border-radius: 12px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
  }

  .iconcargo {
    color: rgba(71, 178, 228, 1);
    font-size: 28px;
    padding-left: 1%;
  }
  .icon-menu1 {
    padding-left: 0%;
    margin-left: 5px;

    color: rgb(165, 165, 165);
    font-size: 30px;
  }
  .icon_action {
    color: #1671b3;
    font-size: 40px;
  }

  .labaction {
    width: 60px;
    height: 31px;
    margin: 1px 1px 2px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.18;
    letter-spacing: normal;
    text-align: center;
    color: #073866;
  }
  .divmenu {
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    height: 100%;
    padding-top: 2%;
  }

  .blocform {
    margin: 3% 3% 3% 3%;
    padding-top: 10%;
  }
  .blocaction {
    padding-top: 4%;
    padding-left: 2%;
    display: flex;
    padding: 30px 30px 30px 30px;
  }
  .paddingleft {
    padding-left: 5%;
  }
}

@media only screen and (max-width: 1450px) and (min-width: 1250px) {
<<<<<<< HEAD
  .icon_header {
    float: right;
    padding-right: 5%;
    font-size: 30px;
  }
=======
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
  .vessel_call_information {
    cursor: pointer;
    padding-top: 2%;
    white-space: nowrap;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(7, 61, 110, 1);
  }
  .div1 {
    width: 238px;
    height: 65px;

    border-radius: 35px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
  .header_titre {
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: center;
    color: #073866;
  }
  .iconcargo {
    color: rgba(71, 178, 228, 1);
    font-size: 28px;
    padding-left: 10%;
  }
  .icon-menu1 {
    padding-left: 2%;

    color: rgb(165, 165, 165);
    font-size: 30px;
  }
  .div_action {
    cursor: pointer;
    width: 70px;
    height: 70px;
    margin: 0 0 16px;
    padding: 25% 25% 25% 25%;
    border-radius: 12px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
  }
  .icon_action {
    color: #1671b3;
    font-size: 24px;
  }

  .labaction {
    width: 45px;
    height: 31px;

    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.18;
    letter-spacing: normal;

    color: #073866;
  }
}

#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

#uploadFile1 {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
}

::ng-deep .cdk-overlay-connected-position-bounding-box {
  z-index: 99999 !important;
}

.port {
  padding-top: 2%;
  padding-left: 10%;
}

@media only screen and (max-width: 1450px) and (min-width: 993px) {
<<<<<<< HEAD
  .icon_header {
    float: right;
    padding-right: 5%;
    font-size: 30px;
  }
=======
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
  ng-select {
    width: 230px;
    height: 45px;
  }
  .port {
    padding-top: 2%;
    padding-left: 9%;
  }
}

.icon_bloc {
  color: #2dd651;
  font-size: 35px;
}

::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  color: #1d3a66;
  font-size: 22px;
  background-color: #fff;
}
::ng-deep .mat-step-header .mat-step-icon {
  color: #1d3a66;
  font-size: 22px;
  background-color: #fff;
}

::ng-deep .mat-step-text-label {
  color: #1d3a66;
  font-size: 22px;
<<<<<<< HEAD
  width: 650px;
=======
  width: 500px;
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
  padding-left: 2%;
  font-family: Poppins;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #1d3a66;
}

.lab_input {
  font-family: Poppins;
  font-size: 18px;
  margin-left: 3%;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: #073866;
}

::ng-deep .mat-step-header {
  border-radius: 12px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

::ng-deep .mat-step {
  padding-top: 2%;
}
.bloc1 {
  padding-top: 1%;
  border-radius: 12px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
}
<<<<<<< HEAD

.label_country {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: #073866;
}

.textarea {
  width: 300px;
  height: 150px;
}
=======
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
