<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>
<script
  src="https://kit.fontawesome.com/8f702b3b95.js"
  crossorigin="anonymous"
></script>
<div class="c1">
  <div (click)="Preview()">
    <mat-icon
      style="color: #1671b3; font-size: 35px; font-weight: 700; cursor: pointer"
      >arrow_back</mat-icon
    >
  </div>
  <div class="Trac-2081"></div>

  <div>
    <h2 class="titre-page">Custom Registration</h2>
    <div class="about-border"></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 divmenu">
    <div style="text-align: center; padding-top: 2%">
      <div (click)="changebloc(1)" style="cursor: pointer">
<<<<<<< HEAD
        <mat-icon class="icon_bloc">info</mat-icon>
=======
        <mat-icon class="icon_bloc">report</mat-icon>
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
      </div>
      <div (click)="changebloc(1)">
        <label style="cursor: pointer" class="vessel_call_information"
          >General informations
        </label>
      </div>
      <mat-icon *ngIf="Form1.valid" class="icon-menu">check</mat-icon>
      <mat-icon *ngIf="Form1.invalid && BlocB1 == false" class="icon-menu1"
        >new_releases</mat-icon
      >
      <mat-icon *ngIf="Form1.invalid && BlocB1" class="icon-menu1"
        >edit</mat-icon
      >

      <div style="height: 70px">
        <div class="vl"></div>
      </div>
      <div (click)="changebloc(2)" style="cursor: pointer">
<<<<<<< HEAD
        <mat-icon class="icon_bloc"> attach_money</mat-icon>
=======
        <mat-icon class="icon_bloc">report</mat-icon>
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
      </div>
      <div (click)="changebloc(2)">
        <label style="cursor: pointer" class="vessel_call_information"
          >Financial
        </label>
      </div>
      <mat-icon *ngIf="false" class="icon-menu">check</mat-icon>
      <mat-icon *ngIf="false && BlocB2 == false" class="icon-menu1"
        >new_releases</mat-icon
      >
      <mat-icon *ngIf="false && BlocB2" class="icon-menu1">edit</mat-icon>
      <div style="height: 70px">
        <div class="vl"></div>
      </div>
      <div (click)="changebloc(3)" style="cursor: pointer">
<<<<<<< HEAD
        <mat-icon class="icon_bloc">timeline</mat-icon>
=======
        <mat-icon class="icon_bloc">report</mat-icon>
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
      </div>
      <div (click)="changebloc(3)">
        <label style="cursor: pointer" class="vessel_call_information"
          >Transit</label
        >
      </div>
      <mat-icon *ngIf="false" class="icon-menu">check</mat-icon>
      <mat-icon *ngIf="false && BlocB3 == false" class="icon-menu1"
        >new_releases</mat-icon
      >
      <mat-icon *ngIf="false && BlocB3" class="icon-menu1">edit</mat-icon>
      <div style="height: 70px">
        <div class="vl"></div>
      </div>
      <div (click)="changebloc(4)" style="cursor: pointer">
<<<<<<< HEAD
        <mat-icon class="icon_bloc">library_books</mat-icon>
=======
        <mat-icon class="icon_bloc">report</mat-icon>
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
      </div>
      <div (click)="changebloc(4)">
        <label style="cursor: pointer" class="vessel_call_information"
          >General segment
        </label>
      </div>
      <mat-icon *ngIf="false" class="icon-menu">check</mat-icon>
      <mat-icon *ngIf="false && BlocB4 == false" class="icon-menu1"
        >new_releases</mat-icon
      >
      <mat-icon *ngIf="false && BlocB4" class="icon-menu1">edit</mat-icon>
    </div>
  </div>

  <div class="col-lg-8 blocform">
    <div *ngIf="BlocB1" class="div3">
      <div style="padding: 2%">
        <mat-stepper orientation="vertical" #stepper>
          <mat-step [stepControl]="firstFormGroup">
<<<<<<< HEAD
            <ng-template matStepLabel
              >Declaration identification
              <mat-icon class="icon_header">keyboard_arrow_down</mat-icon>
            </ng-template>
=======
            <ng-template matStepLabel>Declaration identification</ng-template>
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
            <div style="padding-top: 5%">
              <form [formGroup]="firstFormGroup" class="bloc1">
                <div class="row" style="text-align: center">
                  <div class="col-lg-6">
                    <div>
                      <mat-form-field>
                        <input
                          matInput
                          [matDatepicker]="picker"
                          [formControl]="dateofdeclaration"
                          placeholder="Date of declaration"
                          required
                          (dateInput)="onchangedateofdecalaration($event.value)"
                          style="color: #1d3a66"
                        />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        style="padding-top: 2%"
                        type="text"
                        matInput
                        formControlName="typedeclaration"
                        placeholder="type of declaration"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        type="text"
                        matInput
                        placeholder="Office of declaration "
                        formControlName="officeofeclaration"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="BL/NO"
                        formControlName="bl"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Manifest"
                        formControlName="manifest"
                        required
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Number of packages"
                        formControlName="numberofpackages"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Load list"
                        formControlName="loadlist"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Total items"
                        formControlName="totalitems"
                        required
                      />
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </div>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
<<<<<<< HEAD
            <ng-template matStepLabel
              >Trades / declarant
              <mat-icon class="icon_header"
                >keyboard_arrow_down</mat-icon
              ></ng-template
            >
=======
            <ng-template matStepLabel>Trades / declarant</ng-template>
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
            <div style="padding-top: 5%">
              <form [formGroup]="secondFormGroup" class="bloc1">
                <div class="row" style="text-align: center">
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        style="padding-top: 2%"
                        type="text"
                        matInput
                        formControlName="exportercode"
                        placeholder="Exporter code"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        style="padding-top: 2%"
                        type="text"
                        matInput
                        formControlName="exporterno"
                        placeholder="Exporter NO"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        type="text"
                        matInput
                        placeholder="Exporter Name"
                        formControlName="exportername"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6"></div>
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="consignee Code"
                        formControlName="consigneecode"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="consignee No"
                        formControlName="consigneeno"
                        required
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="consignee Name"
                        formControlName="consigneename"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6"></div>
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Financial Code"
                        formControlName="financialcode"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Financial No"
                        formControlName="financialno"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Financial Name"
                        formControlName="financialname"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6"></div>
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Declarant Code"
                        formControlName="declarantcode"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Declarant No"
                        formControlName="declarantno"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Declarant Name"
                        formControlName="declarantname"
                        required
                      />
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel
<<<<<<< HEAD
              >Destination and origin information
              <mat-icon class="icon_header"
                >keyboard_arrow_down</mat-icon
              ></ng-template
            >
            <div style="padding-top: 5%">
              <form [formGroup]="firstFormGroup" class="bloc1">
                <div class="row" style="text-align: center">
                  <div class="col-lg-6">
                    <div>
                      <label class="label_country">Country of export </label>
                    </div>
                    <div>
                      <mat-select-country
                        style="color: #1d3a66"
                        placeholder="Country"
                        (onCountrySelected)="onCountrySelected($event)"
                      >
                      </mat-select-country>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div>
                      <label class="label_country"
                        >Country of destination
                      </label>
                    </div>
                    <div>
                      <mat-select-country
                        style="color: #1d3a66"
                        placeholder="Country"
                        (onCountrySelected)="
                          onCountrySelected_destination($event)
                        "
                      >
                      </mat-select-country>
                    </div>
                  </div>
                  <div class="col-lg-6" style="padding-top: 1%">
                    <div>
                      <label class="label_country">Country of origin </label>
                    </div>
                    <div>
                      <mat-select-country
                        style="color: #1d3a66"
                        (onCountrySelected)="onCountrySelected_origin($event)"
                      >
                      </mat-select-country>
                    </div>
                  </div>
                  <div class="col-lg-6" style="padding-top: 1%"></div>

                  <div class="col-lg-7" style="padding-top: 1%">
                    <mat-form-field style="width: 300px">
                      <textarea
                        class="textarea"
                        matInput
                        cols="150"
                        name="message"
                        rows="9"
                        placeholder="Value detail"
                        [(ngModel)]="message"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel
              >Transport
              <mat-icon class="icon_header"
                >keyboard_arrow_down</mat-icon
              ></ng-template
            >
            <div style="padding-top: 5%">
              <form [formGroup]="firstFormGroup" class="bloc1">
                <div class="row" style="text-align: center">
                  <div class="col-lg-6">
                    <div>
                      <label class="label_country">Departure / Arrival </label>
                    </div>
                    <div>
                      <mat-select-country
                        style="color: #1d3a66"
                        placeholder="Country"
                        (onCountrySelected)="
                          onCountrySelected_Departure($event)
                        "
                      >
                      </mat-select-country>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div>
                      <label class="label_country"> Crossing the border </label>
                    </div>
                    <div>
                      <mat-select-country
                        style="color: #1d3a66"
                        placeholder="Country"
                        (onCountrySelected)="onCountrySelected_border($event)"
                      >
                      </mat-select-country>
                    </div>
                  </div>

                  <div class="col-lg-6" style="padding-top: 1%">
                    <mat-form-field class="full-width">
                      <input
                        style="padding-top: 2%"
                        type="text"
                        matInput
                        formControlName="mode_transport_crossing_the_border"
                        placeholder="Mode Transport Crossing"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6" style="padding-top: 1%">
                    <mat-form-field class="full-width">
                      <input
                        style="padding-top: 2%"
                        type="text"
                        matInput
                        formControlName="inland_transport_mode"
                        placeholder="Inland Transport Mode"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-lg-6" style="padding-top: 1%">
                    <mat-form-field class="full-width">
                      <input
                        style="padding-top: 2%"
                        type="number"
                        matInput
                        formControlName="container"
                        placeholder="Container"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-lg-6" style="padding-top: 1%">
                    <mat-form-field class="full-width">
                      <input
                        style="padding-top: 2%"
                        type="number"
                        matInput
                        formControlName="container"
                        placeholder="Container"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </div>
=======
              >Destination and origin informations</ng-template
            >
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Transport</ng-template>
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
          </mat-step>
        </mat-stepper>
      </div>
    </div>

    <div *ngIf="BlocB2"></div>

    <div *ngIf="BlocB3"></div>

    <div *ngIf="BlocB4"></div>
  </div>
  <div class="col-lg-1 blocaction">
    <div class="paddingleft">
      <div class="row" style="padding-top: 5%">
        <div class="div_action" (click)="Save(content3)">
          <mat-icon class="icon_action">save</mat-icon>
        </div>
      </div>
      <div>
        <label class="labaction"> Save </label>
      </div>
    </div>
    <div class="paddingleft">
      <div class="row" style="padding-top: 5%">
        <div (click)="Submit(content3)" class="div_action">
          <mat-icon class="icon_action">send</mat-icon>
        </div>
      </div>
      <div (click)="Submit(content3)">
        <label class="labaction"> Submit </label>
      </div>
    </div>
    <div class="paddingleft">
      <div class="row" style="padding-top: 5%">
        <div routerLink="/Logistic/liste/0" class="div_action">
          <mat-icon class="icon_action">format_list_bulleted</mat-icon>
        </div>
      </div>
      <div routerLink="/Logistic/liste/0">
        <label class="labaction"> Go list </label>
      </div>
    </div>
    <div class="paddingleft">
      <div class="row" style="padding-top: 5%">
        <div (click)="fileInput.click()" class="div_action">
          <mat-icon class="icon_action">cloud_upload</mat-icon>
        </div>
      </div>
      <input
        style="display: none"
        type="file"
        #fileInput
        (change)="onFileChange($event)"
        name="uploadFile"
        multiple="multiple"
      />
      <div>
        <label class="labaction"> Upload </label>
      </div>
    </div>
  </div>
</div>

<ng-template #content3>
  <div class="modal-body rounded-8">
    <div style="text-align: center">
      <div>
        <span
          class="material-icons green-color"
          style="
            font-size: 100px;
            color: #41d96f;
            text-align: center;
            font-weight: 800;
          "
          >check
        </span>
      </div>
      <div>
        <label
          style="
            font-family: Montserrat;
            font-size: 26px;
            padding-top: 2%;
            font-weight: bold;
            color: #073866;
          "
        >
          THANKS</label
        >
      </div>
      <div>
        <label
          style="
            width: 310px;
            font-size: 16px;
            font-weight: bold;
            padding-top: 40px;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.77;
            letter-spacing: normal;
            text-align: center;
          "
        >
          Your vessel call information document has been recorded</label
        >
      </div>
      <div class="text-center" style="padding-bottom: 2%; padding-top: 6%">
        <button type="button" class="btn button2" (click)="Go_list()">
          <span class="Save"> Go list</span>
        </button>
      </div>
      <div class="text-center" style="padding-bottom: 2%; padding-top: 3%">
        <button type="button" class="btn button4">
          <!-- <mat-icon style="color: #a9a9a9; font-size: 30px; padding-top: 2%"
            >print</mat-icon
          > -->
          <span class="print"> Print</span>
        </button>
      </div>
    </div>
  </div>
</ng-template>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

<!-- <ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
  [fullScreen]="true"
>
  <p style="font-size: 20px; color: white">please wait</p>
</ngx-spinner> -->

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  <p style="font-size: 20px; color: white">Looding...</p>
</ngx-spinner>
<notifier-container></notifier-container>
