.titre-page {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: center;
  margin-left: -4%;
  color: #1d3a66;
  padding-top: 2%;
}

<<<<<<< HEAD
.row {
  padding: 1% 1% 1% 7%;
}

=======
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
.titre-card {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: center;
  margin-left: -4%;
  color: #1671b3;

  padding-top: 2%;
}

.sous_card1 {
<<<<<<< HEAD
  width: 160px;
=======
  width: 180px;
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
  height: 100%;
  margin: 40.2px 14.3px 9.7px 0;
  padding: 3% 3% 3% 3%;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 6px 26px 0 #efeff7;
  background-color: #1671b3;
  padding-top: 3%;
}
.sous_card2 {
<<<<<<< HEAD
  width: 160px;
=======
  width: 180px;
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
  height: 100%;
  margin: 40.2px 14.3px 9.7px 0;
  padding: 3% 3% 3% 3%;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 6px 26px 0 #efeff7;
  background-color: #324f64;
  padding-top: 3%;
}
.sous_card3 {
<<<<<<< HEAD
  width: 160px;
=======
  width: 180px;
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
  height: 100%;
  margin: 14.3px 14.3px 9.7px 0;
  padding: 3% 3% 3% 3%;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 6px 26px 0 #efeff7;
  background-color: #cc96ae;
  padding-top: 3%;
}
.sous_card4 {
<<<<<<< HEAD
  width: 160px;
=======
  width: 180px;
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
  height: 100%;
  margin: 14.3px 14.3px 9.7px 0;
  padding: 3% 3% 3% 3%;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 6px 26px 0 #efeff7;
  background-color: #23bd61;
  padding-top: 3%;
}

.titre_sous_card {
  font-family: Poppins;
  font-size: 17px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  padding-top: 3%;
  color: #fff;
}

.total {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #1671b3;
}

.res {
  font-family: Poppins;
  font-size: 19px;
  font-weight: 600;
  margin-left: 15%;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #1671b3;
}

.document {
  width: 110px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: #47aee1;
  cursor: pointer;
}

.button_show {
  border: 0px solid;
  border-color: #fff;
  background-color: #fff;
}

.icon_action {
  color: #47b2e4;
  font-size: 45px;
}

.div_action {
  cursor: pointer;
  width: 70px;
  height: 70px;
  float: right;
  padding: 1% 1% 1% 1%;
  border-radius: 12px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
}
<<<<<<< HEAD
.spantotal {
  width: 125px;
}

@media only screen and (min-width: 1500px) {
  .card1 {
    width: 450px;
    height: 100%;
    margin: 3% 3% 3% 6%;
    padding: 1% 1% 2% 4%;
=======

@media only screen and (min-width: 1500px) {
  .card1 {
    width: 480px;
    height: 100%;
    margin: 3% 3% 3% 6%;
    padding: 1% 1% 1% 6%;
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
    border-radius: 20px;
    box-shadow: 0 6px 26px 0 #efeff7;
    background-color: rgb(255, 255, 255);
  }
}

<<<<<<< HEAD
@media only screen and (max-width: 992px) {
  .card1 {
    width: 500px;
    height: 100%;
    margin: 3% 3% 3% 3%;
    padding: 1% 1% 1% 1%;
    border-radius: 20px;
    box-shadow: 0 6px 26px 0 #efeff7;
    background-color: #fff;
  }
}

.more {
  margin-left: auto;
  order: 2;
}

@media only screen and (min-width: 990px) and (max-width: 1499px) {
  .spantotal {
    width: 110px;
  }
  .res {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    margin-left: 15%;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #1671b3;
  }
  .total {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #1671b3;
  }
=======
@media only screen and (min-width: 990px) and (max-width: 1499px) {
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
  .card1 {
    width: 420px;
    height: 100%;
    margin: 3% 3% 3% 3%;
    padding: 1% 1% 1% 6%;
    border-radius: 20px;
    box-shadow: 0 6px 26px 0 #efeff7;
    background-color: rgb(255, 255, 255);
  }

  .sous_card1 {
<<<<<<< HEAD
    width: 140px;
=======
    width: 150px;
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
    height: 100%;
    margin: 40.2px 14.3px 9.7px 0;
    padding: 3% 3% 3% 3%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 6px 26px 0 #efeff7;
    background-color: #1671b3;
    padding-top: 3%;
  }
  .sous_card2 {
<<<<<<< HEAD
    width: 140px;
=======
    width: 150px;
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
    height: 100%;
    margin: 40.2px 14.3px 9.7px 0;
    padding: 3% 3% 3% 3%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 6px 26px 0 #efeff7;
    background-color: #324f64;
    padding-top: 3%;
  }
  .sous_card3 {
<<<<<<< HEAD
    width: 140px;
=======
    width: 150px;
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
    height: 100%;
    margin: 40.2px 14.3px 9.7px 0;
    padding: 3% 3% 3% 3%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 6px 26px 0 #efeff7;
    background-color: #cc96ae;
    padding-top: 3%;
  }
  .sous_card4 {
<<<<<<< HEAD
    width: 140px;
=======
    width: 150px;
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
    height: 100%;
    margin: 40.2px 14.3px 9.7px 0;
    padding: 3% 3% 3% 3%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 6px 26px 0 #efeff7;
    background-color: #23bd61;
    padding-top: 3%;
  }
}
<<<<<<< HEAD
=======

@media only screen and (max-width: 992px) {
  .card1 {
    width: 500px;
    height: 100%;
    margin: 3% 3% 3% 3%;
    padding: 1% 1% 1% 1%;
    border-radius: 20px;
    box-shadow: 0 6px 26px 0 #efeff7;
    background-color: #fff;
  }
}
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
