<<<<<<< HEAD
<div style="text-align: center">
  <div>
    <h2 class="titre-page">E-logistic Dashboard</h2>
  </div>

  <div class="row">
    <div class="col-lg-6 card1">
      <div style="width: 100%; text-align: center">
        <span class="titre-card"> Shipping arrival</span>
      </div>
      <div class="row">
        <div class="col-lg-6 sous_card1">
          <div>
            <span class="titre_sous_card"> open folder</span>
          </div>
          <div>
            <span class="titre_sous_card"> 5 </span>
          </div>
        </div>

        <div class="col-lg-6 sous_card2">
          <div>
            <span class="titre_sous_card"> file in error </span>
          </div>
          <div>
            <span class="titre_sous_card"> 3 </span>
          </div>
        </div>
        <div class="col-lg-6 sous_card3">
          <div>
            <span class="titre_sous_card"> file pending </span>
          </div>
          <div>
            <span class="titre_sous_card"> 84 </span>
          </div>
        </div>

        <div class="col-lg-6 sous_card4">
          <div>
            <span class="titre_sous_card"> case closed </span>
          </div>
          <div>
            <span class="titre_sous_card"> 5 </span>
          </div>
        </div>
      </div>

      <div style="display: flex; padding-top: 7%">
        <div style="display: flex">
          <div class="spantotal">
            <span class="total">total folders : </span>
          </div>
          <div>
            <span class="res">584 </span>
          </div>
        </div>
        <div class="more">
          <button
            mat-button
            class="btn btn-light shadow-lg"
            style="display: flex"
            class="button_show"
            routerLink="/Logistic/liste/0/"
          >
            <div>
              <label class="document"> Show more </label>
            </div>
            <div>
              <mat-icon style="color: #47aee1; padding-top: 4%; cursor: pointer"
                >chevron_right</mat-icon
              >
            </div>
          </button>
=======
<div>
  <h2 class="titre-page">E-logistic Dashboard</h2>
</div>

<div class="div_action">
  <mat-icon class="icon_action">widgets</mat-icon>
</div>

<div class="row">
  <div class="col-lg-6 card1">
    <div style="width: 100%; text-align: center">
      <span class="titre-card"> Shipping arrival</span>
    </div>
    <div class="row">
      <div class="col-lg-6 sous_card1">
        <div>
          <span class="titre_sous_card"> open folder</span>
        </div>
        <div>
          <span class="titre_sous_card"> 5 </span>
        </div>
      </div>

      <div class="col-lg-6 sous_card2">
        <div>
          <span class="titre_sous_card"> file in error </span>
        </div>
        <div>
          <span class="titre_sous_card"> 3 </span>
        </div>
      </div>
      <div class="col-lg-6 sous_card3">
        <div>
          <span class="titre_sous_card"> file pending </span>
        </div>
        <div>
          <span class="titre_sous_card"> 84 </span>
        </div>
      </div>

      <div class="col-lg-6 sous_card4">
        <div>
          <span class="titre_sous_card"> case closed </span>
        </div>
        <div>
          <span class="titre_sous_card"> 5 </span>
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
        </div>
      </div>
    </div>

<<<<<<< HEAD
    <div class="col-lg-6 card1">
      <div style="width: 100%; text-align: center">
        <span class="titre-card"> Ship departure</span>
      </div>
      <div class="row">
        <div class="col-lg-6 sous_card1">
          <div>
            <span class="titre_sous_card"> open folder</span>
          </div>
          <div style="padding-top: 3%">
            <span class="titre_sous_card"> 5 </span>
          </div>
        </div>

        <div class="col-lg-6 sous_card2">
          <div>
            <span class="titre_sous_card"> file in error </span>
          </div>
          <div style="padding-top: 3%">
            <span class="titre_sous_card"> 3 </span>
          </div>
        </div>
        <div class="col-lg-6 sous_card3">
          <div>
            <span class="titre_sous_card"> file pending </span>
          </div>
          <div style="padding-top: 3%">
            <span class="titre_sous_card"> 84 </span>
          </div>
        </div>

        <div class="col-lg-6 sous_card4">
          <div>
            <span class="titre_sous_card"> case closed </span>
          </div>
          <div style="padding-top: 3%">
            <span class="titre_sous_card"> 5 </span>
          </div>
        </div>
      </div>

      <div style="display: flex; padding-top: 6%">
        <div style="display: flex">
          <div class="spantotal">
            <span class="total">total folders : </span>
          </div>
          <div>
            <span class="res">584 </span>
          </div>
        </div>
        <div class="more">
          <button
            mat-button
            class="btn btn-light shadow-lg"
            style="display: flex"
            class="button_show"
            routerLink="/Logistic/liste/1/"
          >
            <div>
              <label class="document"> Show more </label>
            </div>
            <div>
              <mat-icon style="color: #47aee1; padding-top: 4%; cursor: pointer"
                >chevron_right</mat-icon
              >
            </div>
          </button>
=======
    <div style="display: flex; padding-top: 7%">
      <div style="display: flex">
        <div style="width: 130px">
          <span class="total">total folders : </span>
        </div>
        <div>
          <span class="res">584 </span>
        </div>
      </div>
      <div style="padding-left: 25%">
        <button
          mat-button
          class="btn btn-light shadow-lg"
          style="display: flex"
          class="button_show"
          routerLink="/Logistic/liste/0/"
        >
          <div>
            <label class="document"> Show more </label>
          </div>
          <div>
            <mat-icon style="color: #47aee1; padding-top: 4%; cursor: pointer"
              >chevron_right</mat-icon
            >
          </div>
        </button>
      </div>
    </div>
  </div>

  <div class="col-lg-6 card1">
    <div style="width: 100%; text-align: center">
      <span class="titre-card"> Ship departure</span>
    </div>
    <div class="row">
      <div class="col-lg-6 sous_card1">
        <div>
          <span class="titre_sous_card"> open folder</span>
        </div>
        <div style="padding-top: 3%">
          <span class="titre_sous_card"> 5 </span>
        </div>
      </div>

      <div class="col-lg-6 sous_card2">
        <div>
          <span class="titre_sous_card"> file in error </span>
        </div>
        <div style="padding-top: 3%">
          <span class="titre_sous_card"> 3 </span>
        </div>
      </div>
      <div class="col-lg-6 sous_card3">
        <div>
          <span class="titre_sous_card"> file pending </span>
        </div>
        <div style="padding-top: 3%">
          <span class="titre_sous_card"> 84 </span>
        </div>
      </div>

      <div class="col-lg-6 sous_card4">
        <div>
          <span class="titre_sous_card"> case closed </span>
        </div>
        <div style="padding-top: 3%">
          <span class="titre_sous_card"> 5 </span>
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
        </div>
      </div>
    </div>

<<<<<<< HEAD
    <div class="col-lg-6 card1">
      <div style="width: 100%; text-align: center">
        <span class="titre-card"> Ship docking</span>
      </div>
      <div class="row">
        <div class="col-lg-6 sous_card1">
          <div>
            <span class="titre_sous_card"> open folder</span>
          </div>
          <div style="padding-top: 6%">
            <span class="titre_sous_card"> 5 </span>
          </div>
        </div>

        <div class="col-lg-6 sous_card2">
          <div>
            <span class="titre_sous_card"> file in error </span>
          </div>
          <div style="padding-top: 3%">
            <span class="titre_sous_card"> 3 </span>
          </div>
        </div>
        <div class="col-lg-6 sous_card3">
          <div>
            <span class="titre_sous_card"> file pending </span>
          </div>
          <div style="padding-top: 3%">
            <span class="titre_sous_card"> 84 </span>
          </div>
        </div>

        <div class="col-lg-6 sous_card4">
          <div>
            <span class="titre_sous_card"> case closed </span>
          </div>
          <div style="padding-top: 3%">
            <span class="titre_sous_card"> 5 </span>
          </div>
        </div>
      </div>

      <div style="display: flex; padding-top: 6%">
        <div style="display: flex">
          <div class="spantotal">
            <span class="total">total folders : </span>
          </div>
          <div>
            <span class="res">584 </span>
          </div>
        </div>
        <div class="more">
          <button
            mat-button
            class="btn btn-light shadow-lg"
            style="display: flex"
            class="button_show"
            routerLink="/Logistic/liste/2/"
          >
            <div>
              <label class="document"> Show more </label>
            </div>
            <div>
              <mat-icon style="color: #47aee1; padding-top: 4%; cursor: pointer"
                >chevron_right</mat-icon
              >
            </div>
          </button>
=======
    <div style="display: flex; padding-top: 6%">
      <div style="display: flex">
        <div style="width: 130px">
          <span class="total">total folders : </span>
        </div>
        <div>
          <span class="res">584 </span>
        </div>
      </div>
      <div style="padding-left: 25%">
        <button
          mat-button
          class="btn btn-light shadow-lg"
          style="display: flex"
          class="button_show"
          routerLink="/Logistic/liste/1/"
        >
          <div>
            <label class="document"> Show more </label>
          </div>
          <div>
            <mat-icon style="color: #47aee1; padding-top: 4%; cursor: pointer"
              >chevron_right</mat-icon
            >
          </div>
        </button>
      </div>
    </div>
  </div>

  <div class="col-lg-6 card1">
    <div style="width: 100%; text-align: center">
      <span class="titre-card"> Ship docking</span>
    </div>
    <div class="row">
      <div class="col-lg-6 sous_card1">
        <div>
          <span class="titre_sous_card"> open folder</span>
        </div>
        <div style="padding-top: 6%">
          <span class="titre_sous_card"> 5 </span>
        </div>
      </div>

      <div class="col-lg-6 sous_card2">
        <div>
          <span class="titre_sous_card"> file in error </span>
        </div>
        <div style="padding-top: 3%">
          <span class="titre_sous_card"> 3 </span>
        </div>
      </div>
      <div class="col-lg-6 sous_card3">
        <div>
          <span class="titre_sous_card"> file pending </span>
        </div>
        <div style="padding-top: 3%">
          <span class="titre_sous_card"> 84 </span>
        </div>
      </div>

      <div class="col-lg-6 sous_card4">
        <div>
          <span class="titre_sous_card"> case closed </span>
        </div>
        <div style="padding-top: 3%">
          <span class="titre_sous_card"> 5 </span>
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
        </div>
      </div>
    </div>

<<<<<<< HEAD
    <div class="col-lg-6 card1">
      <div style="width: 100%; text-align: center">
        <span class="titre-card"> Cargo manifest</span>
      </div>
      <div class="row">
        <div class="col-lg-6 sous_card1">
          <div>
            <span class="titre_sous_card"> open folder</span>
          </div>
          <div style="padding-top: 3%">
            <span class="titre_sous_card"> 5 </span>
          </div>
        </div>

        <div class="col-lg-6 sous_card2">
          <div>
            <span class="titre_sous_card"> file in error </span>
          </div>
          <div style="padding-top: 3%">
            <span class="titre_sous_card"> 3 </span>
          </div>
        </div>
        <div class="col-lg-6 sous_card3">
          <div>
            <span class="titre_sous_card"> file pending </span>
          </div>
          <div style="padding-top: 3%">
            <span class="titre_sous_card"> 84 </span>
          </div>
        </div>

        <div class="col-lg-6 sous_card4">
          <div>
            <span class="titre_sous_card"> case closed </span>
          </div>
          <div style="padding-top: 3%">
            <span class="titre_sous_card"> 5 </span>
          </div>
        </div>
      </div>

      <div style="display: flex; padding-top: 6%">
        <div style="display: flex">
          <div class="spantotal">
            <span class="total">total folders : </span>
          </div>
          <div>
            <span class="res">584 </span>
          </div>
        </div>
        <div class="more">
          <button
            mat-button
            class="btn btn-light shadow-lg"
            style="display: flex"
            class="button_show"
            routerLink="/Logistic/liste/3/"
          >
            <div>
              <label class="document"> Show more </label>
            </div>
            <div>
              <mat-icon style="color: #47aee1; padding-top: 4%; cursor: pointer"
                >chevron_right</mat-icon
              >
            </div>
          </button>
        </div>
=======
    <div style="display: flex; padding-top: 6%">
      <div style="display: flex">
        <div style="width: 130px">
          <span class="total">total folders : </span>
        </div>
        <div>
          <span class="res">584 </span>
        </div>
      </div>
      <div style="padding-left: 25%">
        <button
          mat-button
          class="btn btn-light shadow-lg"
          style="display: flex"
          class="button_show"
          routerLink="/Logistic/liste/2/"
        >
          <div>
            <label class="document"> Show more </label>
          </div>
          <div>
            <mat-icon style="color: #47aee1; padding-top: 4%; cursor: pointer"
              >chevron_right</mat-icon
            >
          </div>
        </button>
      </div>
    </div>
  </div>

  <div class="col-lg-6 card1">
    <div style="width: 100%; text-align: center">
      <span class="titre-card"> Cargo manifest</span>
    </div>
    <div class="row">
      <div class="col-lg-6 sous_card1">
        <div>
          <span class="titre_sous_card"> open folder</span>
        </div>
        <div style="padding-top: 3%">
          <span class="titre_sous_card"> 5 </span>
        </div>
      </div>

      <div class="col-lg-6 sous_card2">
        <div>
          <span class="titre_sous_card"> file in error </span>
        </div>
        <div style="padding-top: 3%">
          <span class="titre_sous_card"> 3 </span>
        </div>
      </div>
      <div class="col-lg-6 sous_card3">
        <div>
          <span class="titre_sous_card"> file pending </span>
        </div>
        <div style="padding-top: 3%">
          <span class="titre_sous_card"> 84 </span>
        </div>
      </div>

      <div class="col-lg-6 sous_card4">
        <div>
          <span class="titre_sous_card"> case closed </span>
        </div>
        <div style="padding-top: 3%">
          <span class="titre_sous_card"> 5 </span>
        </div>
      </div>
    </div>

    <div style="display: flex; padding-top: 6%">
      <div style="display: flex">
        <div style="width: 130px">
          <span class="total">total folders : </span>
        </div>
        <div>
          <span class="res">584 </span>
        </div>
      </div>
      <div style="padding-left: 25%">
        <button
          mat-button
          class="btn btn-light shadow-lg"
          style="display: flex"
          class="button_show"
          routerLink="/Logistic/liste/3/"
        >
          <div>
            <label class="document"> Show more </label>
          </div>
          <div>
            <mat-icon style="color: #47aee1; padding-top: 4%; cursor: pointer"
              >chevron_right</mat-icon
            >
          </div>
        </button>
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
      </div>
    </div>
  </div>
</div>
