::ng-deep input:focus::placeholder {
  color: blue;
}
.row {
  width: 90%;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px;
  padding: 0.75em 0.75em 0 0.75em;
}

.inputcondition {
  padding-left: 1rem;
  padding-top: 1rem;
}

::ng-deep ng-select {
  width: 240px;
  height: 65px;
  padding-top: 7%;
}

ul.steps-indicator li:last-child .done .step-indicator {
  border-color: orange;
}

mat-stepper {
  background-color: #ffffff;
}

::ng-deep .mat-step-text-label {
  color: black;
}
::ng-deep mat-form-field {
  width: 230px;
}

/* ::ng-deep .mat-focused .mat-form-field-label {
    color: rgb(255, 255, 255) !important;
  }
  
  ::ng-deep.mat-form-field-underline {
    background-color: rgb(255, 255, 255) !important;
  }
  
  ::ng-deep.mat-form-field-ripple {
    background-color: rgb(255, 255, 255) !important;
  }
  
  ::ng-deep .mat-form-field-label {
    color: #fff !important;
  }
  .mat-form-field-label :focus {
    color: rgb(204, 16, 16) !important;
  }
   */
.green-color {
  color: green;
}
::ng-deep :host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.my-disable {
  pointer-events: none;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: rgba(71, 178, 228, 1) !important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label ::after {
  color: black !important;
}
::ng-deep .mat-stepper-horizontal-line {
  border-top-width: 3px;
  background-color: #fff;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 5%;
}

::ng-deep .mat-form-field-infix {
  top: -3px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: rgba(71, 178, 228, 1);
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: rgba(71, 178, 228, 1);
  border-color: rgba(71, 178, 228, 1);
}

::ng-deep
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: rgba(71, 178, 228, 1);
}

p {
  font-family: Lato;
}

input {
  color: #1d3a66;
}

mat-datepicker-toggle {
  color: rgba(71, 178, 228, 1) !important;
}
.div_action {
  cursor: pointer;
  width: 120px;
  height: 92px;
  margin: 0 0 16px;
  padding: 35% 25% 25% 25%;
  border-radius: 12px;

  background-color: #ffff;
}
.button4 {
  padding-left: 1rem;
  padding-top: 1rem;
}

.Save {
  width: 70px;
  height: 39px;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.titre-page {
  margin-left: -4%;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: center;
  color: #1d3a66;
}

.btn-close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: rgb(21, 199, 15);
  text-shadow: 0 1px 0 rgb(151, 41, 41);
  filter: alpha(opacity=20);
  opacity: 0.2;
}
.formmodal {
  padding-top: 10%;
}

.bodymodal {
  min-height: 200px;
  text-align: center;
}
.titre_modal {
  margin: 10px 5px 5px 130px;

  font-family: Poppins;
  font-size: 23px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.63;
  letter-spacing: normal;
  text-align: center;
  color: #1d3a66;
}
.card1 {
  cursor: pointer;
  width: 100%;
  height: 260px;
  background-color: rgba(71, 178, 228, 1);
  color: #fff;
  border-radius: 15px;
}
/* ::ng-deep .card1 :hover {
    background-color: #fff;
    color: rgba(71, 178, 228, 1);
  } */
.card2 {
  color: #1d3a66;
  width: 100%;
  height: 260px;
  background-color: rgb(255, 255, 255);
  border-radius: 27px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.subtitle_card {
  font-weight: 800;
  font-size: 15px;
  padding-top: 3%;
}
.titre_card {
  font-weight: 700;
}

mat-card-title {
  font-size: 17px;
}

::ng-deep .mat-step-icon-state-done {
  color: rgb(255, 255, 255) !important;
  background-color: #41ae62;
}

.vessel_call_information {
  cursor: pointer;
  padding-top: 2%;
  white-space: nowrap;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(7, 61, 110, 1);
}

.divmenu {
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  height: 100%;
}

.vl {
  border-left: 1px solid rgb(95, 95, 95);
  height: 60px;
  position: absolute;
  left: 12%;
  margin-left: -6px;
}
.div3 {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  padding-left: 2%;
  padding-right: 2%;
}

.button1 {
  border-radius: 35px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #55ec7a;
  width: 238px;
  height: 64px;
}

.button3 {
  padding-left: 2%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: transparent;
  width: 148px;
  height: 49px;
  border-radius: 35px;
  border: solid 1px #1671b3;
}
.button3:hover {
  background-color: #1671b3;
}

.button3:hover .add {
  font-size: 16px;
  font-weight: 900;
  margin: 15px 8px 15px 4px;

  color: #ffffff;
}

.button3:hover .iconadd {
  color: #ffffff;
  font-size: 30px;
  font-weight: 900;
}

.button8 {
  padding-left: 15%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: transparent;
  width: 148px;
  height: 49px;
  border-radius: 35px;
  border: solid 1px #1671b3;
}
.button8:hover {
  background-color: #1671b3;
}

.button8:hover .print {
  font-size: 18px;
  font-weight: 900;
  margin: 15px 8px 15px 13px;
  color: #ffffff;
}
.button8:hover .iconprint {
  color: #ffffff;
  font-size: 30px;
}
.button8:hover .icondelete {
  color: #ffffff;
  font-size: 30px;
}
.iconadd {
  color: #1671b3;
  font-size: 30px;
  font-weight: 900;
}
.iconprint {
  color: #a9a9a9;
  font-size: 30px;
}
.icondelete {
  color: #e44747;
  font-size: 30px;
}

.button2 {
  border-radius: 35px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #55ec7a;
  width: 208px;
  height: 51px;
}

.next {
  width: 64px;
  height: 39px;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.add {
  font-size: 16px;
  font-weight: 900;
  margin: 15px 8px 15px 4px;

  color: #1671b3;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #1671b3;
}

.print {
  font-size: 18px;
  font-weight: 900;
  margin: 15px 8px 15px 13px;
  color: #a9a9a9;
}

.delete {
  font-size: 18px;
  font-weight: 900;
  margin: 15px 8px 15px 13px;
  color: #e44747;
}

.div1 {
  width: 238px;
  height: 65px;

  border-radius: 35px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.header-border {
  width: 100%;
  margin-bottom: 13px;
  padding-top: -24px;
  border-top: rgba(71, 178, 228, 1) solid 6px;
  border-bottom: rgba(71, 178, 228, 1) solid 6px;
}
.icon-menu {
  padding-left: 2%;

  color: rgb(0, 190, 0);
  font-size: 30px;
}

.icon-menu1 {
  padding-left: 2%;

  color: rgb(165, 165, 165);
  font-size: 30px;
}

.header-border > .heading,
.heading-subtitle {
  text-align: center;
  margin-top: -30px;
}

.header-border > .heading > span,
.heading-subtitle > span {
  background-color: white;
  box-shadow: white 0 11px 0px 0px, white 0 -13px 0px 0px;
}

.header-border > .heading-subtitle > span ::after {
  top: -13px;
}

.div2 {
  border-bottom: rgba(71, 178, 228, 1) solid 6px;
}

.about-border {
  display: block;
  width: 80px;
  height: 8px;
  background: #55ec7a;
  text-align: center;
  margin: 20px 20px 20px 45%;
}

@media only screen and (max-width: 991px) {
  .div_action {
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

::ng-deep .mat-form-field-underline,
::ng-deep .mat-form-field-ripple {
  background-color: #1671b3 !important;
}

.button_delete {
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.c1 {
  padding-top: 3%;
  padding-left: 3%;
}

::ng-deep .ng-select.dropdown {
  border: 6px solid rgb(206, 43, 43);
}

@media only screen and (max-width: 1500px) {
  .c1 {
    padding-top: 4%;
    padding-left: 3%;
  }
}

.mat_content {
  font-size: 35px;
  padding-top: 40%;
  padding-left: 30%;
  text-align: center;
  display: flex;
}
@media only screen and (max-width: 1500px) {
  .card1 {
    cursor: pointer;
    width: 100%;
    height: 170px;
    background-color: rgba(71, 178, 228, 1);
    color: #fff;
    border-radius: 15px;
  }
  .mat_content {
    font-size: 25px;
    padding-top: 40%;
    padding-left: 20%;
    text-align: center;
    display: flex;
  }
  .card2 {
    color: #1d3a66;
    width: 100%;
    height: 170px;
    background-color: rgb(255, 255, 255);
    border-radius: 27px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }
}

.blocform {
  margin: 3% 3% 3% 3%;
}

.labaction {
  width: 60px;
  height: 31px;
  margin: 1px 1px 2px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.18;
  letter-spacing: normal;
  text-align: center;
  color: #073866;
}

.padding_class {
  width: 60%;
  padding-left: 20%;
}

@media only screen and (max-width: 1700px) {
  .padding_class {
    width: 60%;
    padding-left: 10%;
  }
}
.form-control {
  width: 240px;
  border-radius: 15px;
  min-height: 48px;
  border: solid 1px #47b2e4;
}
@media only screen and (max-width: 992px) {
  .form-control {
    width: 240px;
    border-radius: 15px;
    min-height: 48px;
    border: solid 1px #47b2e4;
  }
  .inputcondition {
    padding-left: 2%;
    padding-top: 3%;
  }
  .date {
    padding-top: 3%;
  }
}

.bloc {
  height: 100%;
  width: 100%;
  background-color: #fdfdfd;
}

::ng-deep.mat-tab-group {
  background-color: #fff;
  height: 100%;
}
::ng-deep .mat-tab-label {
  font-size: 18px;
  font-weight: bold;

  letter-spacing: normal;

  color: #bbc5d5;
}

::ng-deep .mat-s-horizontal-line {
  border-top-width: 3px;

  background-color: #fff;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #47de72;

  visibility: visible;
}

::ng-deep .mat-s-horizontal-line {
  border-top-width: 3px;
  background-color: #fff;
}

table {
  width: 100%;
  background-color: #fff;
}

mat-paginator {
  background-color: #ffffff;
  color: #1671b3;
}

.labelclass {
  font-size: 18px;
  padding: 2%;
}

.labelinput {
  color: #fff;
  font-size: 19px;
}

::ng-deep .modal-content {
  min-height: 300px;
}

.headercell {
  font-size: 14px;
  color: #073866;
  background-color: #fbfbfb;
  font-family: Poppins;

  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
}

.tdcell {
  background-color: #fdfdfd;
  text-align: center;
}

::ng-deep .ng-select .ng-select-container {
  border-radius: 15px;
  min-height: 48px;
  border: solid 1px #47b2e4;
}

.blocrecherche {
  padding-left: 25%;
  padding-top: 5%;
}

@media only screen and (max-width: 1550px) and (min-width: 993px) {
  .form-control {
    width: 240px;
    border-radius: 15px;
    min-height: 48px;
    border: solid 1px #47b2e4;
  }
  .inputcondition {
    padding-left: 5rem;
    padding-top: 2%;
  }
  .date {
    padding-left: 6rem;
    padding-right: 15rem;
  }
  .button4 {
    padding-left: 10rem;
    padding-top: 1rem;
  }
  .div_action1 {
    cursor: pointer;
    width: 60px;
    height: 50px;
    margin: 0 3.5px 3.5px 0;

    padding: 0.8rem 2% 2% 1rem;
    border-radius: 12px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #1671b3;
  }
}

.btn-action {
  padding-left: 3%;
  cursor: pointer;
}

@media only screen and (min-width: 1550px) {
  .div_action1 {
    cursor: pointer;
    width: 50px;
    margin: 0 3.5px 3.5px 0;

    padding: 6% 2% 2% 5%;
    border-radius: 12px;
    box-shadow: 0 3px 6px 0 rgba(255, 255, 255, 0.16);
    background-color: #1671b3;
  }
}

@media only screen and (max-width: 991px) {
  .vl {
    border-left: 1px solid rgb(95, 95, 95);
    height: 60px;
    position: absolute;
    left: 46%;
    margin-left: 3px;
  }

  .div_action1 {
    cursor: pointer;
    width: 60px;
    height: 50px;
    margin: 0 3.5px 3.5px 0;

    padding: 0.8rem 2% 2% 1rem;
    border-radius: 12px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #1671b3;
  }
}

.button10 {
  border-radius: 35px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ee0d05;
  width: 190px;
  height: 54px;
}

.button9 {
  border-radius: 35px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #5e5e5e;
  width: 190px;
  height: 54px;
}

.labeldetail {
  padding-top: 3%;

  text-align: center;
}

.lab1 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #073866;
}

.lab2 {
  height: 100%;
  font-size: 100%;
  border-radius: 12px;
  width: 170px;
  color: rgb(7, 61, 110);
  background-color: #e8effc;
}
