<div class="bloc">
  <div class="c1">
    <div class="Trac-2081"></div>

    <div style="text-align: center">
      <h2 class="titre-page">Shipping Arrival List</h2>
      <div class="about-border"></div>
    </div>
  </div>

  <div class="blocrecherche">
    <div class="row" style="width: 100%">
      <div class="col-lg-3" style="height: 90px">
        <ng-select
          [items]="itemlist"
          (change)="changetype($event)"
          bindLabel="name"
          placeholder="Type"
          [(ngModel)]="selectedtype"
        >
        </ng-select>
      </div>

      <div class="col-lg-3 date">
        <mat-form-field appearance="fill">
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              placeholder="Start date"
              (dateInput)="onchangedatestart($event.value)"
            />
            <input
              matEndDate
              placeholder="End date"
              (dateInput)="onchangedateend($event.value)"
            />
          </mat-date-range-input>

          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>

      <div class="col-lg-3" style="height: 90px">
        <ng-select
          [items]="statuslist"
          (change)="changestatus($event)"
          bindLabel="name"
          placeholder="Status"
          [(ngModel)]="selectedstatus"
        >
        </ng-select>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-3" style="height: 90px; padding-top: 3px">
        <ng-select
          [items]="itemslist"
          (change)="changeconditionitem($event)"
          bindLabel="name"
          placeholder="Condition"
          [(ngModel)]="selectedcondition"
        >
        </ng-select>
      </div>
      <div class="col-lg-3 inputcondition">
        <input
          type="text"
          mdbInput
          class="form-control"
          placeholder="Condition"
        />
      </div>

      <div class="col-lg-2 button4">
        <div class="div_action1">
          <mat-icon style="color: #ffffff; font-size: 30px">search</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <div style="padding-top: 3%">
    <div class="container" style="display: flex">
      <button
        routerLink="/ShippingArrival/new"
        type="button"
        class="btn button3"
        style="display: flex"
      >
        <div>
          <mat-icon class="iconadd">add</mat-icon>
        </div>
        <div style="padding-top: 3px">
          <span class="add"> Add new </span>
        </div>
      </button>

      <div style="margin-left: auto; margin-right: 0; display: flex">
        <div style="padding-right: 2%">
          <button
            type="button"
            class="btn button8"
            style="display: flex"
            (click)="printdoc()"
          >
            <div>
              <mat-icon class="iconprint">print</mat-icon>
            </div>
            <div style="padding-top: 3px">
              <span class="print"> Print </span>
            </div>
          </button>
        </div>
        <div>
          <button
            type="button"
            class="btn button8"
            (click)="open(content1)"
            style="display: flex"
          >
            <div>
              <mat-icon class="icondelete">delete</mat-icon>
            </div>
            <div style="padding-top: 3px">
              <span class="print"> Delete </span>
            </div>
          </button>
        </div>
      </div>
    </div>

    <div class="container" style="width: 100%; padding-top: 2%">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? toggleAllRows() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- Progress Column -->
        <ng-container matColumnDef="progress">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="headercell"
          >
            Vessel Name
          </th>
          <td mat-cell class="tdcell" *matCellDef="let row">
<<<<<<< HEAD
            {{ row.nom }}
=======
            {{ row.vessel.vessel }}
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="headercell"
          >
            Voyage No
          </th>
          <td mat-cell class="tdcell" *matCellDef="let row">
<<<<<<< HEAD
            {{ row.no }}
=======
            {{ row.voyageno }}
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
          </td>
        </ng-container>

        <ng-container matColumnDef="portd">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="headercell"
          >
            Port of Declaration
          </th>
          <td mat-cell class="tdcell" *matCellDef="let row">
<<<<<<< HEAD
            {{ row.codeofdeclaration }}
=======
            {{ row.portofcallcode }}
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
          </td>
        </ng-container>
        <ng-container matColumnDef="eta">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="headercell"
          >
            ETA
          </th>
          <td mat-cell class="tdcell" *matCellDef="let row">
            {{ row.eta }}
          </td>
        </ng-container>
        <ng-container matColumnDef="previous">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="headercell"
          >
            Previous Port
          </th>
          <td mat-cell class="tdcell" *matCellDef="let row">
<<<<<<< HEAD
            {{ row.codeprevious }}
=======
            {{ row.nextportcode }}
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
          </td>
        </ng-container>

        <ng-container matColumnDef="etat">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="headercell"
          >
            Status
          </th>
          <td mat-cell class="tdcell" *matCellDef="let row">
            <div *ngIf="row.etat == 'Accept'" style="display: flex">
              <div>
<<<<<<< HEAD
                <b style="width: 100%">{{ row.status }}</b>
=======
                <b style="width: 100%">{{ row.etat }}</b>
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
              </div>
              <div style="padding-left: 1%">
                <mat-icon style="color: #73ff01; font-size: 25px"
                  >check_circle</mat-icon
                >
              </div>
            </div>
<<<<<<< HEAD
            <div *ngIf="row.status == 'INPROGRESS'" style="display: flex">
              <div>
                <b style="width: 100%">{{ row.status }}</b>
=======
            <div *ngIf="row.etat == 'Save'" style="display: flex">
              <div>
                <b style="width: 100%">{{ row.etat }}</b>
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
              </div>
              <div style="padding-left: 1%">
                <mat-icon style="color: #000000; font-size: 25px"
                  >save_alt</mat-icon
                >
              </div>
            </div>

<<<<<<< HEAD
            <div *ngIf="row.status == 'Reject'" style="display: flex">
=======
            <div *ngIf="row.etat == 'Reject'" style="display: flex">
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
              <div>
                <b style="width: 100%">
                  {{ row.etat }}
                </b>
              </div>
              <div style="padding-left: 1%">
                <mat-icon style="color: red; font-size: 22px">cancel</mat-icon>
              </div>
            </div>
<<<<<<< HEAD
            <div *ngIf="row.status == 'For confirmation'" style="display: flex">
              <div>
                <b style="width: 100%">
                  {{ row.status }}
=======
            <div *ngIf="row.etat == 'For confirmation'" style="display: flex">
              <div>
                <b style="width: 100%">
                  {{ row.etat }}
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
                </b>
              </div>
              <div style="padding-left: 1%">
                <mat-icon style="color: rgb(27, 202, 255); font-size: 22px"
                  >error</mat-icon
                >
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="callsign">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="headercell"
          >
            Call Sign
          </th>
          <td mat-cell class="tdcell" *matCellDef="let row">
            {{ row.callsign }}
          </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="action">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="headercell"
          >
            Actions
          </th>
          <td
            mat-cell
            *matCellDef="let row"
<<<<<<< HEAD
            style="padding: 1%; display: flex; height: 50px; text-align: center"
=======
            style="padding: 1%; display: flex; height: 50px"
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
            class="tdcell"
          >
            <button
              (click)="Arr_view(content4, row.id)"
              style="border: 0px solid; background-color: #ffffff"
            >
              <div class="btn-action">
                <mat-icon style="color: rgb(110, 110, 110)"
                  >remove_red_eye</mat-icon
                >
              </div>
            </button>

            <button
              [disabled]="row.etat != Save"
              routerLink="/ShippingArrival/update/{{ row.id }}"
              style="border: 0px solid; background-color: #ffffff"
            >
              <div class="btn-action">
                <mat-icon style="color: #1671b3">edit</mat-icon>
              </div>
            </button>
            <button
              routerLink="/ShippingArrival/copy/{{ row.id }}"
              style="border: 0px solid; background-color: #ffffff"
            >
              <div class="btn-action">
                <mat-icon style="color: #19ffb2">file_copy</mat-icon>
              </div>
            </button>
<<<<<<< HEAD

            <button
              (click)="Arr_messages(content6, row.id)"
              style="border: 0px solid; background-color: #ffffff"
            >
              <div class="btn-action">
                <mat-icon style="color: #b812ce">message</mat-icon>
              </div>
            </button>
=======
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter</td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>

<ng-template #content1>
  <div class="modal-body rounded-8">
    <div style="text-align: center">
      <div style="padding-top: 10%">
        <img
          style="width: 90px; height: 90px"
          src="./../../../assets/icons/list.PNG"
        />
      </div>

      <div style="padding-top: 5%">
        <label
          style="
            width: 270px;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.98;
            letter-spacing: normal;
            text-align: center;
            color: #1d3a66;
          "
        >
          Are you sure you want to delete these items ?
        </label>
      </div>
      <div style="padding-top: 3%; display: flex">
        <div class="container text-right nextbtn">
          <button type="button" class="btn button10" (click)="Arr_remove()">
            <span class="next"> Sure </span>
          </button>
        </div>

        <div class="container text-right nextbtn">
          <button type="button" class="btn button9" (click)="dimision()">
            <span class="next"> no </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #content4 class="modal-dialog" let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <mat-tab-group>
      <mat-tab label="Vessel"
        ><div class="row" style="width: 90%; padding: 2%">
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Vessel Name </label>
            </div>
            <div>
              <label class="lab2">{{ vesselname }} </label>
            </div>
          </div>
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Vessel Type </label>
            </div>
            <div>
              <label class="lab2"> {{ vesseltype }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Vessel build Year </label>
            </div>
            <div>
              <label class="lab2"> {{ vesselbuildyear }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Vessel Reg Port </label>
            </div>
            <div>
              <label class="lab2"> {{ vesselregport }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Vessel Draft </label>
            </div>
            <div>
              <label class="lab2"> {{ vesseldraft }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Vessel Length </label>
            </div>
            <div>
              <label class="lab2">{{ vessellength }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Vessel Gross Weight </label>
            </div>
            <div>
              <label class="lab2"> {{ vesselgrossweight }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Vessel Net Weight </label>
            </div>
            <div>
              <label class="lab2"> {{ vesselnetweight }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label> Vessel Name </label>
            </div>
            <div>
              <label class="lab2"> {{ vesselname }} </label>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Call & Shipping">
        <div class="row" style="width: 90%; padding: 2%">
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Call Sign Type </label>
            </div>
            <div>
              <label class="lab2"> {{ callsigntype }} </label>
            </div>
          </div>
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> call Sign </label>
            </div>
            <div>
              <label class="lab2"> {{ callsign }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Owner Code </label>
            </div>
            <div>
              <label class="lab2"> {{ ownercode }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Owner Name </label>
            </div>
            <div>
              <label class="lab2"> {{ ownername }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Shipping Agent Code </label>
            </div>
            <div>
              <label class="lab2"> {{ shippingagentcode }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Shipping Agent </label>
            </div>
            <div>
              <label class="lab2">{{ shippingagent }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Ship Master </label>
            </div>
            <div>
              <label class="lab2"> {{ shipmaster }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> ETA </label>
            </div>
            <div>
              <label class="lab2"> {{ eta }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> ETD </label>
            </div>
            <div>
              <label class="lab2"> {{ etd }} </label>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Port">
        <div class="row" style="width: 90%; padding: 2%">
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Previous Port Code </label>
            </div>
            <div>
              <label class="lab2"> {{ previousportcode }} </label>
            </div>
          </div>
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Previous Port Name </label>
            </div>
            <div>
              <label class="lab2"> {{ previousportname }} </label>
            </div>
          </div>
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Port Of Call Code </label>
            </div>
            <div>
              <label class="lab2"> {{ portofcallcode }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Port Of Call Code </label>
            </div>
            <div>
              <label class="lab2"> {{ portofcallcode }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Port Of Call Name </label>
            </div>
            <div>
              <label class="lab2"> {{ portofcallname }} </label>
            </div>
          </div>
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Next Port Code </label>
            </div>
            <div>
              <label class="lab2">{{ nextportcode }} </label>
            </div>
          </div>

          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Next Port Name </label>
            </div>
            <div>
              <label class="lab2"> {{ nextportname }} </label>
            </div>
          </div>
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Preferred Dock </label>
            </div>
            <div>
              <label class="lab2"> {{ preferreddock }} </label>
            </div>
          </div>
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Berth Type </label>
            </div>
            <div>
              <label class="lab2"> {{ berthtype }} </label>
            </div>
          </div>
          <div class="col-lg-4 labeldetail">
            <div>
              <label class="lab1"> Dangerous Goods </label>
            </div>
            <div>
              <label class="lab2"> {{ dangerousgoods }} </label>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Visit Purpose">
        <div class="row" style="width: 90%; padding-top: 2%">
          <div
            class="col-lg-4"
            style="padding-top: 1%"
            *ngFor="let visitp of VisitPurposesList"
          >
            <mat-card class="card2">
              <mat-card-content style="text-align: center">
                <h5 class="titre_card">Visit purpose</h5>
              </mat-card-content>
              <mat-card-subtitle>
                <label class="subtitle_card"
                  >Reason : {{ visitp.reason }}
                </label>
              </mat-card-subtitle>
            </mat-card>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="PassengerSummarys">
        <div class="row" style="width: 90%; padding-top: 2%">
          <div
            class="col-lg-4"
            style="padding-top: 1%"
            *ngFor="let Passenger of PassengerSummarysList"
          >
            <mat-card class="card2">
              <mat-card-content style="text-align: center">
                <h5 class="titre_card">Passenger summary</h5>
              </mat-card-content>
              <mat-card-subtitle>
                <label class="subtitle_card"
                  >Number of Passenger :
                  {{ Passenger.numberofpassenger }} </label
                ><br />
                <label class="subtitle_card"
                  >Passenger Nationally :
                  {{ Passenger.passengernationally }}</label
                >
              </mat-card-subtitle>
            </mat-card>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Cargo Summary">
        <div class="row" style="width: 90%; padding-top: 2%">
          <div
            class="col-lg-4"
            *ngFor="let Cargo of CargoSummarysList"
            style="padding-top: 1%"
          >
            <mat-card class="card2">
              <mat-card-content style="text-align: center">
                <h5 class="titre_card">Cargo summary</h5>
              </mat-card-content>
              <mat-card-subtitle>
                <label class="subtitle_card"
                  >Cargo Code : {{ Cargo.cargocode }} </label
                ><br />
                <label class="subtitle_card"
                  >Cargo Amount : {{ Cargo.cargoamount }} </label
                ><br />
                <label class="subtitle_card"
                  >Operation Code : {{ Cargo.operationcode }}
                </label>
              </mat-card-subtitle>
            </mat-card>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-template>
<<<<<<< HEAD

<ng-template #content6 class="modal-dialog" let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div>
    <table mat-table [dataSource]="dataSourceMessages">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>Start Date</th>
        <td mat-cell *matCellDef="let element">{{ element.startDate }}</td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef>end Date</th>
        <td mat-cell *matCellDef="let element">{{ element.endDate }}</td>
      </ng-container>

      <ng-container matColumnDef="typeFlux">
        <th mat-header-cell *matHeaderCellDef>type Flux</th>
        <td mat-cell *matCellDef="let element">{{ element.typeFlux }}</td>
      </ng-container>

      <ng-container matColumnDef="etatFlux">
        <th mat-header-cell *matHeaderCellDef>EtaT Flux</th>
        <td mat-cell *matCellDef="let element">{{ element.etatFlux }}</td>
      </ng-container>

      <ng-container matColumnDef="idDossier">
        <th mat-header-cell *matHeaderCellDef>id Dossier</th>
        <td mat-cell *matCellDef="let element">{{ element.idDossier }}</td>
      </ng-container>

      <ng-container matColumnDef="typeMessage">
        <th mat-header-cell *matHeaderCellDef>Type Message</th>
        <td mat-cell *matCellDef="let element">{{ element.typeMessage }}</td>
      </ng-container>
      <ng-container matColumnDef="typeScenario">
        <th mat-header-cell *matHeaderCellDef>type Scenario</th>
        <td mat-cell *matCellDef="let element">{{ element.typeScenario }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsMessages"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsMessages"></tr>
    </table>
  </div>
</ng-template>
=======
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
