<<<<<<< HEAD
<app-header [color_backround]="color_backround"></app-header>
=======
<app-header></app-header>
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
<mat-sidenav-container
  style="height: 100%; background-color: #fff; overflow-x: hidden"
>
  <mat-sidenav
    #sidenav
    mode="side"
    class="example-sidenav"
<<<<<<< HEAD
    style="overflow-x: hidden; z-index: 3"
    [ngStyle]="{ 'background-color': color_backround }"
=======
    style="overflow-x: hidden"
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
  >
    <div style="padding-top: 15%">
      <mat-list style="padding-top: 60%; padding-left: 5%">
        <mat-list-item
          class="itemlist"
          style="height: 100px"
          (click)="navigate(1)"
        >
          <div *ngIf="logistic_bool">
            <img id="hg" src="./../../../assets/forme.png" />
            <img id="ban" src="./../../../assets/icons/e-logistic blue.png" />
            <label id="ban1">E-logistic</label>
          </div>

          <div *ngIf="logistic_bool == false">
            <img id="ban" src="./../../../assets/icons/e-logistic white.png" />
            <label id="ban2">E logistic</label>
          </div>
        </mat-list-item>
        <mat-list-item
          class="itemlist"
          style="height: 100px"
          (click)="navigate(2)"
        >
          <div *ngIf="customs_bool">
            <img id="hg" src="./../../../assets/forme.png" />
<<<<<<< HEAD
            <img id="ban" src="./../../../assets/icons/customs_vert.png" />
=======
            <img id="ban" src="./../../../assets/icons/ecustoms blue.png" />
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
            <label id="ban1">E-customs</label>
          </div>

          <div *ngIf="customs_bool == false">
            <img id="ban" src="./../../../assets/icons/ecustoms white.png" />
            <label id="ban2">E-customs</label>
          </div>
        </mat-list-item>
        <mat-list-item
          class="itemlist"
          style="height: 100px"
          (click)="navigate(3)"
        >
          <div *ngIf="trad_bool">
            <img id="hg" src="./../../../assets/forme.png" />
            <img id="ban" src="./../../../assets/icons/e-trade blue.png" />
            <label id="ban1">E-trade</label>
          </div>

          <div *ngIf="trad_bool == false">
            <img id="ban" src="./../../../assets/icons/etrade white.png" />
            <label id="ban2">E-trade</label>
          </div>
        </mat-list-item>
        <mat-list-item
          class="itemlist"
          style="height: 100px"
          (click)="navigate(4)"
        >
          <div *ngIf="company_bool">
            <img id="hg" src="./../../../assets/forme.png" />
            <img
              id="ban"
              src="./../../../assets/icons/company registration blue.png"
            />
            <label id="ban1">company Registration</label>
          </div>

          <div *ngIf="company_bool == false">
            <img
              id="ban"
              src="./../../../assets/icons/company registration white.png"
            />
            <label id="ban2">E company Registration</label>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>
<<<<<<< HEAD
  <mat-sidenav-content>
    <div class="row">
      <div class="col-lg-1">
        <div class="paddinclass1">
          <img
            (click)="sidenav.toggle()"
            src="./../../../assets/side_b.PNG"
            class="imageside"
            *ngIf="customs_bool == false"
          />
          <img
            (click)="sidenav.toggle()"
            src="./../../../assets/side_v.PNG"
            class="imageside"
            *ngIf="customs_bool"
          />
        </div>
      </div>

      <div class="col-lg-11 paddinclass">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
=======

  <div class="row">
    <div class="col-lg-1 paddinclass1">
      <div>
        <img
          (click)="sidenav.toggle()"
          src="./../../../assets/side.PNG"
          class="imageside"
        />
      </div>
    </div>

    <div class="col-lg-11 paddinclass">
      <router-outlet></router-outlet>
    </div>
  </div>
>>>>>>> 9d09482dd6d8487ab459aa0b9b8f460c7b4d357e
</mat-sidenav-container>
