/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-archwizard/styles/archwizard.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "@fontsource/poppins";
@import "~angular-notifier/styles";
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  font-family: "Poppins";
  background-color: #fff;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 9999 !important;
}
